<!DOCTYPE html>
<html>
<head>
    <title ng-bind="page.title">SynsorMed</title>
    <link href="/dist/styles<%= suffix =%>.css" rel="stylesheet" type="text/css" />
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <script>
        var version;
        if (window.navigator.appVersion.indexOf("MSIE") != -1){
            version = parseFloat(window.navigator.appVersion.split("MSIE")[1]);
            if(version <= 9) alert('Please Use IE 10 or higher');
        }
    </script>
    <% if isDevelopment %>
    <!--For Development Environment-->
    <script src="/javascripts/libs/javascripts/jquery.min.js"></script>
    <script src="/javascripts/libs/javascripts/bootstrap.js"></script>
    <script src="/javascripts/libs/javascripts/quickblox.min.js"></script>
    <script src="/javascripts/libs/angular/angular/angular.js"></script>
    <script src="/javascripts/libs/angular/spin/spin.js"></script>
    <script src="/javascripts/libs/javascripts/autofill-event.js"></script>
    <script src="/javascripts/libs/angular/angular-route/angular-route.js"></script>
    <script src="/javascripts/libs/angular/angular-animate/angular-animate.js"></script>
    <script src="/javascripts/libs/angular/angular-local-storage/angular-local-storage.js"></script>
    <script src="/javascripts/libs/angular/angular-ui/ui-bootstrap.js"></script>
    <script src="/javascripts/libs/angular/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="/javascripts/libs/javascripts/jspdf.min.js"></script>
    <script src="/javascripts/libs/javascripts/html2canvas.min.js"></script>

    <script src="/javascripts/libs/javascripts/highcharts/highcharts.js"></script>
    <script src="/javascripts/libs/javascripts/highcharts/exporting.js"></script>
    <script src="/javascripts/libs/javascripts/highcharts/offline-exporting.js"></script>

    <script src="/javascripts/libs/angular/angular-ui-mask/mask.js"></script>
    <script src="/javascripts/libs/angular/combo-datepicker/ngComboDatePicker.js"></script>

    <script src="/javascripts/libs/javascripts/lodash.js"></script>
    <script src="/javascripts/libs/javascripts/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script src="/javascripts/libs/angular/angular-ui/angular-ui-switch.min.js"></script>
    <script src="/javascripts/libs/angular/angular-ui-select/select.min.js"></script>
    <script src="/javascripts/libs/angular/angular-sanitize/angular-sanitize.js"></script>
    <script src="/javascripts/libs/angular/angular-highcharts/highcharts-ng.js"></script>
    <script src="/javascripts/libs/angular/angular-rangeSlider/angular.rangeSlider.js"></script>
    <script src="/javascripts/libs/javascripts/moment.min.js"></script>
    <script src="/javascripts/libs/angular/datetimepicker/datetimepicker.js"></script>
    <script src="/javascripts/libs/angular/angular-ng-options/options.js"></script>
    <script src="/javascripts/libs/angular/angular-ng-map/ng-map.js"></script>
    <script src="/javascripts/libs/angular/templates.js"></script>
    <script src="/javascripts/libs/angular/angular-socket-io/socket.js"></script>
    <script src="/javascripts/libs/javascripts/socket.io.js"></script>
    <script src="/javascripts/libs/javascripts/multiple-select/multiple-select.min.js"></script>
    <script src="/javascripts/app/features/login/login.js"></script>

    <!-- provider module start-->
    <script src="/javascripts/app/features/provider/visits/visits.js"></script>
    <script src="/javascripts/app/features/provider/visits/video.js"></script>
    <script src="/javascripts/app/features/provider/monitor/monitorMap.js"></script>
    <script src="/javascripts/app/features/provider/monitor/patientSummary.js"></script>
    <script src="/javascripts/app/features/provider/monitor/editMonitor.js"></script>
    <script src="/javascripts/app/features/provider/monitor/monitorInsights.js"></script>
    <script src="/javascripts/app/features/provider/monitor/monitor.js"></script>
    <script src="/javascripts/app/features/provider/showCode/showCode.js"></script>
    <script src="/javascripts/app/features/provider/showMonitor/showMonitor.js"></script>
    <script src="/javascripts/app/features/provider/index.js"></script>
     <!--provider module ends-->

     <!-- Ehr Module  start-->
    <script src="/javascripts/app/features/ehr/index.js"></script>
    <script src="/javascripts/app/features/ehr/monitor/monitor.js"></script>
    <script src="/javascripts/app/features/ehr/graph/graph.js"></script>
    <!-- Ehr Module  end-->

    <!-- Patient module start -->
    <script src="/javascripts/app/features/patient/auth.js"></script>
    <script src="/javascripts/app/features/patient/encounter/call.js"></script>
    <!-- Patient module end -->
    <script src="/javascripts/app/features/provider/monitor/details/details.js"></script>
    <script src="/javascripts/app/features/settings/settings.js"></script>
    <script src="/javascripts/app/features/settings/patient.js"></script>
    <script src="/javascripts/app/features/register/register.js"></script>
    <script src="/javascripts/app/features/insights/insights.js"></script>
    <script src="/javascripts/app/features/reports/reports.js"></script>
    <script src="/javascripts/app/features/reports/rpm/rpm.js"></script>
    <script src="/javascripts/app/features/forgot/forgot.js"></script>
    <script src="/javascripts/app/features/reports/billing/billing.js"></script>
    <script src="/javascripts/app/features/emergency/emergencyAccess.js"></script>
    <script src="/javascripts/app/features/admin/insights/insights.js"></script>
    <script src="/javascripts/app/features/admin/insights/license.js"></script>
    <script src="/javascripts/app/features/admin/admin.js"></script>
    <script src="/javascripts/app/features/organization/organization.js"></script>
    <script src="/javascripts/app/services/user.js"></script>
    <script src="/javascripts/app/services/patient.js"></script>
    <script src="/javascripts/app/services/network_providers.js"></script>
    <script src="/javascripts/app/services/email.js"></script>
    <script src="/javascripts/app/services/encounter.js"></script>
    <script src="/javascripts/app/services/worklist.js"></script>
    <script src="/javascripts/app/services/practice.js"></script>
    <script src="/javascripts/app/services/insight.js"></script>
    <script src="/javascripts/app/services/adminInsight.js"></script>
    <script src="/javascripts/app/services/measurement.js"></script>
    <script src="/javascripts/app/services/monitor.js"></script>
    <script src="/javascripts/app/services/pageState.js"></script>
    <script src="/javascripts/app/services/diseases.js"></script>
    <script src="/javascripts/app/services/report.js"></script>
    <script src="/javascripts/app/services/quickBlox.js"></script>
    <script src="/javascripts/app/services/timer.js"></script>
    <script src="/javascripts/app/services/notification.js"></script>

    <script src="/javascripts/app/components/wait.js"></script>
    <script src="/javascripts/app/directives/dropdown/dropdown.js"></script>
    <script src="/javascripts/app/directives/aria-ui.datepicker-addon/aria-ui.datepicker-addon.js"></script>
    <script src="/javascripts/app/directives/toggle-list/toggle-list.js"></script>
    <script src="/javascripts/app/directives/safereading/safereading.js"></script>
    <script src="/javascripts/app/directives/indicator-list/indicator-list.js"></script>
    <script src="/javascripts/app/directives/health-indicator-selection/healthindicator.js"></script>
    <script src="/javascripts/app/directives/education-module/education.js"></script>
    <script src="/javascripts/app/directives/stacked-toggle-progress-bar/stacked-toggle-progress-bar.js"></script>
    <script src="/javascripts/app/directives/export-data/export-csv.js"></script>
    <script src="/javascripts/app/directives/export-data/export-pdf.js"></script>
    <script src="/javascripts/app/directives/drag-drop/drag-drop.js"></script>
    <script src="/javascripts/app/directives/toggle-input-textarea/toggle-input-textarea.js"></script>
    <script src="/javascripts/app/directives/indicator-metrics/indicator-metrics.js"></script>
    <script src="/javascripts/app/app.js"></script>
    <% else %>
    <!--For Other Environment-->
    <script src="/dist/vendor<%= suffix =%>.js"></script>
    <script src="/dist/angular-vendor<%= suffix =%>.js"></script>
    <script src="/dist/synsormed<%= suffix =%>.js"></script>
    <% endif %>
    <!-- For Every EnvironMent -->

    <script src="//maps.google.com/maps/api/js?key=<%= googleMapApiKey =%>"></script>
    <!-- <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script> -->

    <script>
      window.Caireview = {
        apiUrl : '<%= apiUrl =%>',
      }
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="AppContainerController" ng-cloak>

<!-- Notification starts  -->
<div id="globalNotification" ng-show="showNotification">
    <alert ng-if="notification" type="{{notification.type}}">{{notification.message}}</alert>
</div>
<!-- Notification ends -->

<!-- Top nav starts  -->
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">

        <div ng-if="showBackBtnToAdmin()" class="go-back-to-admin-btn" ng-cloak>
                <div  class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Go back">
                  <div class="go-to-admin-l-part"></div>
                  <div class="go-to-admin-m-part">
                      <span class="fa fa-plus"></span>
                  </div>
                  <div class="go-to-admin-r-part"></div>
                  <div class="clear"></div>
                </div>
              <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu2">
                   <li><a href="javascript:void(0)" ng-click="goToSuperUserAccount()" >Go Back To Admin Account</a></li>
              </ul>
        </div>

      <!-- Nav brand start -->
      <div class="navbar-header col-md-2">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
         data-target=".collspse-nav-target">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
        </button>
         <a class="navbar-brand" href="#"><strong>Synsor</strong>Med</a>
      </div>
      <!-- Nav brand ends-->

      <!-- Nav menu start-->
      <ul id="main-nav-bar" ng-if="currentuser.name && showMenu" class="nav col-md-10 collapse collspse-nav-target navbar-collapse navbar-nav navbar-left">
        <li ng-if="currentuser.role == 'Provider' || currentuser.role == 'Admin'">
            <a ng-class="{active : isActive('/visits')}" href="#/visits">Visits</a>
        <li ng-if="currentuser.role == 'Provider' || currentuser.role == 'Admin'">
          <a ng-class="{active : isActive('/monitor')}" href="#/monitor">Monitors</a>
        </li>
        <li ng-if="currentuser.role !== 'SuperAdmin' && currentuser.role !== 'OrgCreator'">
            <a ng-class="{active : isActive('/settings')}" href="#/settings">Settings</a>
        </li>
        <li ng-if="currentuser.role == 'Admin' && false">
            <a ng-class="{active : isActive('/insights')}" href="#/insights">Insights</a>
        </li>
        <li ng-if="currentuser.role == 'Admin'">
            <a ng-class="{active : isActive('/reports')}" href="#/reports">Reports</a>
        </li>
        <li ng-if="currentuser.role == 'SuperAdmin'">
            <a ng-class="{active : isActive('/admin/insights')}" href="#/admin/insights">Insights</a>
        </li>
      </ul>

      <!-- Nav user logout menu -->
      <ul id="main-nav-bar" ng-if='showMenu' class="collspse-nav-target nav collapse navbar-collapse navbar-nav navbar-right">
      <!-- Nav menu ends -->
        <li ng-if="currentuser.name || currentuser.code">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Welcome {{currentuser.name || currentuser.code}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/login">Logout</a></li>
          </ul>
        </li>
        <li ng-if="!currentuser.name && !currentuser.code">
          <a ng-class="{active : isActive('/login')}" href="#/login">Login</a>
          </li>
      </ul>
      <!-- Nav user logout menu -->

    </div>
</nav>
<!-- Top nav ends  -->

<img src="/images/synsormed_logo_color.png" id="printlogo">
<div id="container">
    <div>
        <% block content %>
        <ng-view></ng-view>
        <% endblock %>
    </div>
</div>
<nav class="nav navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-text tooltip-auqa-bg" tooltip-placement="top" tooltip-html-unsafe="v3.5" >&copy; {{today | date:'yyyy'}} SynsorMed</div>
     <div class="navbar-text">Tel 888-605-1455</div>
  </div>
</nav>

<script>
    angular.bootstrap(document, ['synsormed.portal']);
</script>
</body>
</html>
