<div ng-if="diseases.length">
    <div class="form-group" validate>
        <h5>
            <input ng-model='tempDiseases.displayDiseases' type='checkbox' is-education-checked='isEducationChecked'/>
            Education
        </h5>
    </div>
    <div class="form-group" ng-if="tempDiseases.displayDiseases">
        <h5>Condition</h5>
        <select class="form-control btn-secondary" ng-model="temp.id" ng-options="disease.id as disease.name for disease in diseases"></select>
    </div>
</div>
