<div id="register" class="container" ng-if="adminUser.role == 'SuperAdmin' || adminUser.role == 'OrgCreator'">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="text-center"><img src="/images/logo_new1.png" style="height:100px;" /></div>
      <div class="text-center"><h4>Welcome, Organization Details</h4></div>
      <div class="panel panel-default">
        <div class="panel-body">
          <form name="form" ng-if="showForm">
            <div class="form-group" validate>
              <label>Business Name</label>
              <input class="form-control" required name="practiceName" placeholder="Practice Name" ng-model="practice.name">
            </div>
            <div class="form-group" validate>
              <label>Administrator Name <help help-text="The name of the person responsible for billing and account administration."/></label>
              <input required class="form-control" name="name" placeholder="First Name" ng-model="user.first_name">
              <input required class="form-control" name="name" placeholder="Last Name" ng-model="user.last_name">
            </div>
            <div class="form-group" validate>
              <label>Administrator Email Address <help help-text="The email of the person responsible for billing and account administration."/></label>
              <input type="email" required class="form-control" placeholder="Email" name="email" ng-model="user.email">
            </div>
            <div class="form-group" validate>
              <label>Password</label>
              <input type="password" required class="form-control" placeholder="Password" ng-model="user.password" name="password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/">
              <small ng-if="passwordPattern" style="color:#d9534f">Password must contain alteast 8 characters, one number and one special character.</small>
            </div>
            <div class="form-group" validate>
              <label>Confirm Password</label>
              <input type="password" required class="form-control" placeholder="Confirm Password" ng-model="user.confirmPassword" name="confirmPassword">
            </div>
          </form>
          <div>
            <button type="submit" class="btn btn-primary" ng-click="submit()">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
