.monitor-list {

    .statusBorder {
        border: 2px solid gray;
        border-radius: 50%;
        font-size: 9px;
        height: 12px;
        width: 12px;
        display: inline-block;
    }
    .xs-mar-top-10{
        @media only screen and (max-device-width: 667px) {
            margin-top:10px;
        }
    }
    .pad-0{
        padding: 0px;
    }
    .mar-bot-7{
        margin-bottom: 7px;
    }
    .width25{
        width: 25px;
    }
    .font-15{
        font-size: 15px;
    }
    .xs-fl{
        @media only screen and (max-device-width: 667px) {
            float: left;
        }
    }

    .xs-fr{
        @media only screen and (max-device-width: 667px) {
            float: right;
        }
    }
    .header{
        background-color:#f7f6f6;
    }
    span.small-text{
        font-size:12px;
    }
    .alert{
        margin-bottom: 0px;
    }
    .monitor-filter{
        > div {
            margin-top:15px;
            margin-bottom:15px;
            > h3 {
                margin-top:5px;
                margin-bottom:0px;
                padding : 0px;
            }
        }
    }

    .btn-options{
        font-size: 19px !important;
        padding: 0px 10px !important;
    }
    .btn-group>.btn {
        max-width: 148px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .new-notes {
        text-decoration: none;
        padding-left: 40px;
        white-space: nowrap;
    }

}
#setAppointment{
    .badge-new{
            padding: 3px 4px;
            margin-right: 2px;
    }
    table tr:nth-child(1) th:nth-child(2)
    {
    width:98%;
    }
}
#healthindicator{
    .mar-top-2{
        margin-top: 2px;
    }
}
#generateMonitor{
    .bootstrap-tagsinput{
        width:100%;
        > input{
            width:100%;
        }
    }
    .form-item-container{
      ul.list-inline{
        li:nth-child(6){
          display:none;
        }
      }
    }
}
#indicator-list{
    .toggle-box{
        padding: 3px 8px !important;
    }
    .bordr{
        border: 1px solid #F05F3A !important;
    }
    .indicator-list{
        border-color: #ddd;
        color: #333;
        padding: 5px 0px;
        background-color: #fff;
          .grey{
            color:#808080;
          }
          .cyan{
            color:#00aba2;
          }
        .list-text{
            padding: 5px 10px;
            cursor: pointer;
            font-size: 15px;
        }
        .list-btn{
            padding-left: 0px;
            max-width: 126px;
        }
        .bg-white{

        }
    }
    .panel-heading{
        padding: 3px 5px;
        background-color: #fff;
    }
}

#patientSummary {
    .make-center{
    text-align: center;
    }

    .info-box {
        color: #5d5d5d;
        border: 1px solid darkgrey;
        padding: 8px;
         border-radius: 4px;
    }
    .left-section {
        padding-top: 12px;
    padding-bottom: 12px;
    }
    .float-left{
        float: left;
    }
    .modal-head {
        padding-bottom: 4px;
        display: inline-block;
        border-bottom: 2px solid #00ABA2;
    }
    .no-patient {
        height: 96px;
        text-align: center;
        padding: 32px;
    }
    .note-head{
        display: inline-block;
    }

    .notes-icons {
        display: inline-block;
        float: right;
    }
    .no-notes {
        text-align: center;
        margin-top: 172px;
    }
    .fa-icon-1 {
    display: inline-block;
    color: #005f5a;
    background: none;
    font-size: 18px;
    }
    .fa-icon-2 {
        display: inline-block;
        color: darkgray;
        background: none;
        font-size: 18px;
    }
    .note-time {
        padding-top: 12px;
        padding-bottom: 4px;
        text-decoration: underline;
        text-decoration-style:dashed;
    }
    .note-icons {
        float: right;
        font-size: 18px;
        color:#a0a0a0;
    }
    .icon-btn {
        background: none;
        border: none;
    }

    .content-border {
        border-bottom: 2px solid #92ccc5;
        width: 92%;
        margin: auto;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .info-box-new-note {
        padding: 0 10px;
    }
    .info-box-right {
        overflow-y: auto;
        color: #5d5d5d;
        height: 420px;
        width: 100%;
        border: 1px solid darkgrey;
        padding: 10px 0;
        border-radius: 4px;
    }
    .info-box-right-notes {
        height: 400px;
        padding: 0 10px;

        &.has-new-note {
            height: 340px
        }
    }
    .note-duration {
        font-size: 14px;
    }
    .request-note {
        color: #F05F3A !important;

        .hide-on-request-note {
            display: none;
        }
    }
}

.cell-pinged {
    position: relative;
    left: 15px;
    color: #F05F3A;
}
