.monitor-insight-modal {
    .mar-bot-15
    {
        margin-bottom: 15px;
    }
    .modal-dialog {
        width:665px;
        @media only screen and (min-width : 630px) and (max-width : 700px) {
          width: 600px;
        }
        @media only screen and (min-width : 500px) and (max-width : 630px) {
          width: 480px;
        }
        @media only screen and (min-width : 450px) and(max-width : 500px){
          width: 400px;
        }
        @media only screen and (max-width : 450px){
          width: 300px;
        }
    }
      .alarm-type{
        width:11%;
        height:82px;
        float:left;
        border:1px solid #ddd;
        .status-circle{
             margin: 30px 0px 0px 0px;
        }
        .status-green{
            color:green;
        }
        .status-red{
            color:red;
        }
        @media only screen and (max-width: 770px) {
            h5 {
                font-size:9px;
            }
        }
      }
    .last-sync-time{
        cursor: pointer;
        font-size: 22px;
        padding: 7px;
        color: $secondary-color;
    }
    .activeButton{
        background-color: #1879a3;
    }
    .status-green{
        color:green;
    }
    .status-red{
        color:red;
    }
}
