<div  class="modal-body" style="position: relative;" wait="waiting">
    <div class="text-center">
      <h3 ng-if="monitor.patientName">Patient: {{monitor.patientName}}</h3>
      <h3>Monitor: {{monitor.patientCode}}</h3>
    </div>
    <div class="panel panel-default">
          <div class="panel-body">
              <div class='mar-bot-15'>
                  <div class="pull-left">
                      <aura-dropdown selected="selected.id" items="monitorMeasurements" key="id" item="name" class="pointer"></aura-dropdown>
                      <!-- <aura-dropdown selected="step.id" items="surveySteps" key="id" item="name" class="pointer"></aura-dropdown> -->
                      <!-- <aura-dropdown ng-if="extraSurveySeries && extraSurveySeries.length" items="extraSurveySeries" key="key" item="name" selected="selected.survey" class="pointer"> -->
                      <aura-dropdown ng-if="checkMeasurementForDropDown(selected.id) && dateCategories.length"  selected="selected.date" items="dateCategories" key="text" item="text" class="pointer">
                      </aura-dropdown>
                      <aura-dropdown ng-if="extraSeries && extraSeries.length" items="extraSeries" key="key" item="name" selected="selected.graph" class="pointer">
                      </aura-dropdown>
                      <aura-dropdown ng-if="checkOxygenFlowMeasurement(selected.id) && flowCategories.length && selected.graph == 'default'"  selected="selected.flowDate" items="flowCategories" key="text" item="text" class="pointer">
                      </aura-dropdown>
                      <!-- <aura-dropdown ng-if="selected.graph == 'alarms' && alertDateCategoriesDropdown.length"  selected="selected.alertDate" items="alertDateCategoriesDropdown" key="text" item="text" >
                      </aura-dropdown> -->
                  </div>
                  <div class="pull-right text-center last-sync-time">
                     <i class="fa fa-info" title="The last sync date for this indicator is {{lastSyncTime}}"></i>
                  </div>
                  <div class="clear"></div>
              </div>
              <div class="row" ng-if="selected.graph == 'alarms'">
                  <div class="alarm-type">
                    <h5 class="text-center"><b>Alarm Type</b></h5>
                  </div>
                  <div class="alarm-type" ng-repeat="(alert, date) in latestDates" ng-hide="alert == 'Cleared'">
                    <h5 class="text-center"><b>{{alert}}</b></h5>
                  </div>
                  <div class="clearfix"></div>
                  <div class="alarm-type">
                    <h5 class="text-center"><b>Most Recent <br>Status</b></h5>
                  </div>
                  <div class="alarm-type {{getStatusClass(alert, date)}}" ng-repeat="(alert, date) in latestDates" ng-hide="alert == 'Cleared'">
                    <span tooltip-html-unsafe="{{showAlertDates(alert)}}" class="tooltip-auqa-bg" tooltip-placement="top" style="margin-left: 50%;"><i class="fa fa-circle status-circle" aria-hidden="true" ></i></span></td>
                  </div>
              </div>
              <alert ng-if="notification" type="danger">{{notification}}</alert>
              <highchart ng-hide='notification' id="monitorInsightsModal" class="center-block default-modal-width text-center" config="chartConfig"></highchart>
              <div ng-if="selected.graph == 'alarms'" class="row">
                <span class="float-right" style="margin-bottom:15px;margin-right: 20px;color:#606060;"><small><b>Last update:</b> {{latestAlertDate || 'N/A'}}</small></span>
              </div>
              <div class="text-center" ng-if="showDates">
                  <button class="btn btn-info" ng-click="getDataAccTime(1)" ng-class="
                  dayActive ? '' : 'activeButton'">DAY</button>
                  <button class="btn btn-info" ng-click="getDataAccTime(7)" ng-class="
                  weekActive ? '' : 'activeButton'">WEEK</button>
                  <button class="btn btn-info" ng-click="getDataAccTime(30)" ng-class="
                  monthActive ? '' : 'activeButton'">MONTH</button>
                  <button class="btn btn-info" ng-click="getDataAccTime(365)" ng-class="
                  yearActive ? '' : 'activeButton'">Year</button>
                  <button class="btn btn-info" ng-click="getDataAccTime('custom')" ng-class="
                  customActive ? '' : 'activeButton'">Custom</button>
                  <div class="row" ng-if="showDatePickers" style="margin-top:10px;">
                    <p class="input-group" style="width:50%; float:left;">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="date.dt1" is-open="open.opened1"  max-date="maxDate" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="openCalender1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                    <p class="input-group" style="width:50%;float:left;">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="date.dt2" is-open="open.opened2" min-date="minDate"  max-date="maxDate" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="openCalender2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                    <!-- <datepicker ng-model="dt" show-weeks="true"  style="float:left;"></datepicker>
                    <datepicker show-weeks="true"  style="float:left;"></datepicker> -->
                  </div>
              </div>
          </div>
   </div>
   <div class="modal-footer">
     <div class="pull-right">
        <button ng-hide='notification' class="btn btn-primary" ng-click="displaySummary(monitor)">Notes</button>
        <button ng-hide='notification' class="btn btn-primary" ng-click="printChart()">DOWNLOAD</button>
        <button class="btn btn-primary" ng-click="ok()">OK</button>
     </div>
     <div class="clear"></div>
   </div>
</div>

<style>
.col-xs-12 .test h5{
font-size: 9px;
}
</style>
