<div wait="waiting">
    <div class="modal-body" style="position: relative">
        <div class="modal-header">
            <div class="text-center">
                <h3>{{title}}</h3>
            </div>
        </div>
        <div class="modal-body" style="position: relative">
            <form name="form">
                <div class="form-group" validate>
                    <textarea ng-model="message" required maxlength="90" name="message" placeholder="Enter message" class="form-control">
                    </textarea>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="send()">Send</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>
