<div id="patientSummary" ng-class="{'modal-lg': size == 'lg'}">
    <div class="modal-body" wait="waiting">
        <div class="make-center">
            <h4 class="modal-title modal-head">PATIENT SUMMARY ({{monitor.patientCode}})</h4>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6 col-xs-12">
                <div class="left-section">
                    <h4>Contact Info</h4>

                    <div class="info-box">
                        <div class="no-patient" ng-if="monitor.patientId == null">
                            <p>No Patient Info</p>
                        </div>
                        <div ng-if="monitor.patientId != null">
                            <p>Name - {{patient.firstName }} {{patient.lastName }}</p>
                            <p>Phone - {{patient.mobileNumber}}</p>
                            <p>Email - {{patient.email}}</p>
                            <p>Address - {{patient.address}}</p>
                        </div>
                    </div>
                    <h4>Profile</h4>
                    <div class="info-box">
                        <div class="no-patient" ng-if="monitor.patientId == null">
                            <p>No Patient Info</p>
                        </div>
                        <div ng-if="monitor.patientId != null">
                            <p>Age - {{patient.age}}</p>
                            <p>Gender - {{patient.gender}}</p>
                        </div>
                    </div>
                    <h4>File Info</h4>
                    <div class="info-box">
                        <p>Provider - {{providersName}}</p>
                        <p>Email - {{providersEmail}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-6 col-xs-12">
                <div class="left-section">
                    <h4 class="note-head">Notes</h4>
                    <div class="notes-icons">
                        <button class="btn btn-sm fa-icon-1" ng-click="addNote(monitor)">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button class="btn btn-sm fa-icon-1" ng-click="printNote()">
                            <i class="fa fa-print"></i>
                        </button>
                    </div>

                    <div class="info-box-right">
                        <div class="no-notes" ng-if="monitor.note == null || monitor.note.length == 0">
                            <p>No Notes available</p>
                        </div>
                        <div ng-if="newNote" class="info-box-new-note">
                            <textarea class="form-control" ng-model="newNote.text"></textarea>
                            <div class="btn-group" dropdown is-open="dropdownStatus.new">
                                <button class="icon-btn" dropdown-toggle><i class="fa fa-clock-o"></i> {{newNote.duration ? newNote.duration + ' min' : ''}}</button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="duration in durations">
                                        <a ng-click="updateNewNoteDuration(duration.value)">{{duration.text}}</a>
                                    </li>
                                </ul>
                                <button class="icon-btn" ng-click="confirmAdd()"><i class="fa fa-check"></i></button>
                                <button class="icon-btn" ng-click="cancelAdd()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <p class="content-border" ng-if="newNote"></p>
                        <div ng-if="monitor.note != null" class="info-box-right-notes" ng-class="newNote ? 'has-new-note' : ''">
                            <div class="notes-content" ng-class="note.isNotify ? 'request-note' : ''" ng-repeat="note in monitor.note">
                                <p class="note-time"> {{formatDate(note.date)}}
                                    <span class="note-icons">
                                        <div class="btn-group hide-on-request-note" dropdown is-open="dropdownStatus[$index]">
                                            <button class="icon-btn" dropdown-toggle><i class="fa fa-clock-o"></i></button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li ng-repeat="duration in durations">
                                                    <a ng-click="updateDuration($parent.$index, note, duration.value)">{{duration.text}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <span class="note-duration hide-on-request-note">{{note.duration}} min</span>
                                        <button class="icon-btn hide-on-request-note" ng-click="editNote($index, note)"><i class="fa fa-pencil"></i></button>
                                        <button class="icon-btn" ng-click="deleteNote(note)"><i class="fa fa-trash"></i></button>
                                    </span>
                                </p>
                                <p ng-if="$index !== editingNoteIndex">{{note.text}}</p>
                                <div ng-if="$index === editingNoteIndex">
                                    <textarea class="form-control" ng-model="note.text"></textarea>
                                    <div>
                                        <button class="icon-btn" ng-click="confirmEdit()"><i class="fa fa-check"></i></button>
                                        <button class="icon-btn" ng-click="cancelEdit()"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <p class="content-border"> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="modal-footer">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <!-- <button class="btn btn-secondary float-left" ng-click="editPatientDetail()">Edit patient Info</button> -->
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <button class="btn btn-primary" ng-click="downloadPDF()">Download Report</button>
                    <button class="btn btn-primary" ng-click="ok()">Exit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-dialog {
        width: 768px;
    }

    @media only screen and (max-width: 480px) {
        .modal-dialog {
            max-width: 400px;
        }
    }
</style>
