<div id="monitor-service-list" class="modal-body" style="position: relative;" wait="waiting">
    <div  class="text-center">
        <h3>Connected Services</h3>
    </div>
    <div ng-if="!connectedServices.length" class="alert alert-warning" >
        No Services Connected
    </div>
    <div ng-if='connectedServices' class="panel panel-default" ng-repeat="connected in connectedServices">
       <div class="panel-body">
           <div class="text-center">
               <b>{{connected.service_name}}</b> Connected <span class="text-success fa-lg fa fa-check-circle"></span>
           </div>
       </div>
       <div class="panel-footer">
           <div class="text-center">
               <button class="btn btn-warning" ng-click="unlinkMonitor(connected.id, connected.monitor_id)">Unlink {{connected.service_name}}</button>
           </div>
       </div>
   </div>

   <div ng-if="connectedServices" class="text-center">
       <small>(Reconnect with listed services to update)</small>
   </div>
</div>
<div class="modal-footer">
   <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
