<div id="messages">
    <synsormed-header title="Messages" back-button="true" logged-in="true"></synsormed-header>
    <section>
        <div class="panel panel-default msg-wrap" ng-repeat="message in messages" ng-if="messages && messages.length">
            <div class="panel-body">{{message.text}}</div>
            <span class="msg-time">{{message.date}}</span>
        </div>
        <div class="panel panel-default msg-wrap" ng-if="!messages || !messages.length">
            <div class="panel-body">No message to read</div>
        </div>
    </section>
</div>
