$brand-primary: #00ABA2;
$brand-primary-inverse: #F1F1F1;
$brand-primary-text-inverse: #F1F1F1;
$brand-primary-text:  #00ABA2;
$brand-secondary: #8B8B8B;
$brand-secondary-text: #8B8B8B;

$tab-background-color: #3f3f3f !important;
$tab-text-color: #ffffff !important;

$secondary-color : #F05F3A !important;

//$icon-font-path: "/fonts/bootstrap/";
//$bootstrap-sass-asset-helper: false;
@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

$fa-font-path: "/fonts";
@import "fontawesome/font-awesome";
@import "angular-select";

@import "compass/css3/flexbox";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.hbox {
  @include display-flex;
  @include flex-wrap(wrap);
}

.vbox {
  @include display-flex;
  @include flex-wrap(wrap);
  @include flex-direction(column);
}

.flex {
  @include flex(1);
}

html,body {
  height: 100%;
}

.btn-secondary {
  @extend .btn-primary;
  background-color: $secondary-color;
  border-color: $secondary-color;
  color:#FFFFFF;
}

.btn-reverse {
  color: $secondary-color !important;
  border-color: $secondary-color;
  background-color:#FFFFFF;
  font-size: 18px;
  padding: 1px 7px;
}

.text-secondary{
    color: $secondary-color;
}

.border-secondary{
  border:1px solid $secondary-color;
}

nav.navbar {
  margin-bottom: 0px;
    @extend .clearfix;
    background-color: $brand-primary;
    color: $brand-primary-text-inverse;
    border:none;
    @include box-shadow(rgba(0, 0, 0, .4) 0 4px 10px);
    z-index: 2;
      > h1 {
        text-align: center;
        color: $brand-primary-text-inverse;
    }
    .active{
      color : #FFFFFF;
      font-weight:bold;
      outline:none;
    }
    a{
      outline:none;
    }
}

#container {
  min-height: calc(100% - 100px);
  > div:after{
    background-position: center;
    background-image: url("/images/logo_new1.png");
    background-repeat: no-repeat;
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.1;
    z-index: -1;
  }

}

.tooltip-auqa-bg + .tooltip > .tooltip-inner {
    background-color: $brand-primary;
}
.tooltip-auqa-bg + .tooltip.top .tooltip-arrow {
   border-top-color: $brand-primary;
}

.help {
  font-weight: normal;
}

.error-container {
  color: $brand-danger;
}

#globalNotification {
  .alert {
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    max-width: 500px;
    text-align: center;
  }

  &.ng-hide {
    opacity: 0;
    top: -30px;
  }

  -webkit-transition: .5s all linear;
  transition: .5s all linear;
  transition-duration: .5s;
  opacity:1;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1099; // above the modals
}

input, .input-group, select {
  max-width: 30em;
}

.synsormed-navs{
  background-color : $tab-background-color;
  color: $tab-text-color;
  border:0px;
  z-index:0 !important;
  a:active,a:visited {
      border: none;
      outline: none;
  }
  li {
    border:0px;
    margin-bottom:0px;
    a {
      color: $tab-text-color;
      border:0px;
      cursor:pointer;
      border-radius:0px;
      padding-top:15px;
      padding-bottom:15px;
      outline: none;
    }
    a:hover{
      background-color : $tab-background-color;
      color: $tab-text-color;
      border:0px;
      outline: none;
    }
  }
  li.active a{
    background-color : $tab-background-color;
    color: $tab-text-color;
    border:0px;
    font-weight:bold;
    outline: none;
  }
}

.synsormed-list-table{
    .list-head-row{
      padding:10px 5px;
    }
    .list-head-row.hover-grid:hover{
      background-color:#f7f6f6;
    }
    .list-head-row:hover .invisible{
      visibility:visible !important;
    }
  }

.overflow-wrap{
    overflow-wrap: break-word;
    overflow-y:auto;
    max-height:100px;
  }

.no-list{
    margin-top:10px;
  }

div.nav-tab-bg{
  background-color : $tab-background-color;
  border:0px;
}

#printlogo {
  display: none;
}

.modal-dialog{
  width:400px;
  @media only screen and (min-width : 320px) and (max-width : 768px) {
    width: 350px;
  }
  @media only screen and (max-width : 320px){
    width: 300px;
  }
}

.custom-video-modal{
    overflow: visible !important;
    overflow-x: visible !important;
    overflow-y: visible !important;

    .modal-dialog{
        width: 450px !important;
    }
}

.custom-map-modal{
    overflow: visible !important;
    overflow-x: visible !important;
    overflow-y: visible !important;

    .modal-dialog{
        width: 500px !important;
    }
}

.custom-patient-summary{
    .modal-dialog{
        width: 55% !important;
        @media only screen and (min-width : 320px) and (max-width : 768px) {
           width: 95% !important;
        }
        @media only screen and (max-width : 320px){
           width: 95% !important;
        }
    }
}

.online-patient{
    color: #55BF3B;
}

//fix for modal backdrop not working on opera , chrome on linux platforms
.modal-backdrop{
  height:100%;
  width:100%;
}

.pointer{
  cursor:pointer;
}

.wrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}
.text-left{
    text-align: left;
}
.float-left{
    float: left;
}
.text-right{
    text-align: right;
}
.float-right{
    float: right;
}
.clear{
    clear: both;
}

@import "components";

@import "../javascripts/app/features/login/login.scss";
@import "../javascripts/app/features/register/register";
@import "../javascripts/app/features/provider/visits/worklist";
@import "../javascripts/app/features/ehr/monitor/monitor";
@import "../javascripts/app/features/ehr/graph/graph";
@import "../javascripts/app/features/provider/monitor/monitor";
@import "../javascripts/app/features/provider/monitor/monitorInsights";
@import "../javascripts/app/features/provider/monitor/serviceList";
@import "../javascripts/app/features/provider/visits/generateCode";
@import "../javascripts/app/features/provider/visits/video";
@import "../javascripts/app/features/provider/showMonitor/showMonitor";
@import "../javascripts/app/features/provider/showCode/showCode";
@import "../javascripts/app/features/settings/settings";
@import "../javascripts/app/features/insights/insights";
@import "../javascripts/app/features/reports/reports";
@import "../javascripts/app/features/reports/rpm/rpm";
@import "../javascripts/app/features/reports/summary/summary";
@import "../javascripts/app/features/forgot/forgot";
@import "../javascripts/app/features/emergency/emergencyAccess";
@import "../javascripts/app/features/admin/insights/insights";
@import "../javascripts/app/features/organization/organization";
@import "../javascripts/app/features/patient/patient";
@import "../javascripts/app/directives/stacked-toggle-progress-bar/toggle";
@import "../javascripts/app/directives/indicator-metrics/indicator-metrics";
@import "../javascripts/libs/angular/angular-rangeSlider/angular.rangeSlider.scss";
@import "../javascripts/libs/angular/angular-rangeSlider/_rangeSlider.scss";
@import "../javascripts/libs/angular/datetimepicker/datetimepicker.css";
@import "../javascripts/libs/angular/angular-ui/angular-ui-switch.min.css";
@import "../javascripts/libs/javascripts/bootstrap-tagsinput/bootstrap-tagsinput.css";
@import "../javascripts/libs/javascripts/multiple-select/multiple-select.min.css";

@media print {
  body > nav {
    display: none;
  }
  #container > aside {
    display: none;
  }
  #container {
    min-height: 0;
  }
  #printlogo {
    display: block;
    margin: auto;
  }
}

/* Styles to make customize the slider */
.override-range-slider-styles{
   margin: 10px 0 10px !important;
}
.slider-input-box{
    width:15%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 10px;
    text-align: center;
}

.go-back-to-admin-btn{
    position:fixed;
    left:27px;
    top:7px;
    cursor: pointer;
    .go-to-admin-l-part{
        float: left;
        border-right: 13px solid  $secondary-color;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
    }
    .go-to-admin-m-part{
        float: left;
        width: 18px;
        height: 36px;
        background-color:  $secondary-color;
        text-align: center;
        padding-top: 5px;
        font-size: 20px;
        color: #fff;
    }
    .go-to-admin-r-part{
        float: left;
        border-left: 13px solid  $secondary-color;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
    }
}
