<div ng-if="!bleScanScreen && !searching">
     <div class="modal-body" style="position: relative;">
         <div class="text-center">
             <h3>Starting scan</h3>
         </div>
         <div class="panel panel-default">
             <div class="panel-body panel-fix">
                 <div class="center"> {{initialMsg}} </div>
             </div>
         </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-primary" ng-click="moveFromPreScan()">Next</button>
     </div>
</div>
<div ng-if="gettingData" id="bluetooth-data">
     <div class="modal-body" style="position: relative;">
         <div class="text-center">
             <h3>Getting {{measurementName}} readings</h3>
         </div>
         <div class="panel panel-default">
             <div class="panel-body panel-fix">
                 <div class="center">
                    <div class="pull-left text-center mob-d">
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                    </div>
                    <div class="pull-left text-right arrw">
                        <i class="getting-data-arrow fa fa-long-arrow-left" aria-hidden="true"></i>
                    </div>
                    <div class="pull-left text-center bt-icon">
                        <i class="fa fa-bluetooth" aria-hidden="true"></i>
                    </div>
                    <div class="clear text-center">
                        <small> {{instructionMsg}} </small>
                    </div>
                </div>
             </div>
         </div>
     </div>
</div>

<div ng-if="bleScanScreen && !gettingData">
    <div id="monitor-device-list" class="modal-body" style="position: relative;">
        <div class="text-center">
            <h3>Available Devices</h3>
        </div>

        <div class="panel panel-default">
            <div class="panel-body panel-fix">
                <div class="center">
                    <div ng-if="devices.length && !searching" >
                        <h6>Found Devices</h6>
                        <ul class="list-group show-ble-devices">
                            <li ng-repeat="device in devices" class="pointer list-group-item">
                                {{device.name || device.address}}
                                <span class="pull-right">
                                    <a  class="btn-device-link" ng-click="connectDevice(device.address, device.name)">
                                        {{!connected[device.address] ? 'Connect' : 'Sync'}}
                                    </a>
                                    <i ng-if='connected && connected[device.address]' class="text-success fa-lg fa fa-check-circle"></i>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div ng-if="!devices.length && !searching" class="text-center" >
                         <h4> No Device Found </h4>
                         <i class="warning-text fa-2x fa fa fa-times-circle"></i>
                    </div>
                    <div class="text-center" ng-if="searching">
                        <i class="fa-lg fa fa-bluetooth bluetooth-size blink" aria-hidden="true"></i>
                        <h4 class="text-success scan-margin">Scanning</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
       <button class="btn btn-primary" ng-click="getDevices()" ng-disabled="searching">{{scanBtn}}</button>
       <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</div>
