<div class="modal-header">
    <h3 class="modal-title">
      Data
    </h3>
</div>
<div class="modal-body">
    <div class="btn-group" dropdown>
      <button type="button" dropdown-toggle class="btn btn-secondary dropdown-toggle">
        {{measurement.name}}  <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="measurement in measurements" ng-click="selectedMeasurement(measurement)">{{ measurement.name }}</li>
      </ul>
    </div>
    <alert ng-if="notification" type="danger" style="margin-top: 10px;">{{notification}}</alert>
    <table class="table" ng-if="!notification">
    <thead>
      <tr>
        <th>Date</th>
        <th ng-if="measurement.name != 'Blood pressure'">Measurements<span ng-if="measurement.unit"> ({{ measurement.unit }})</span></th>
          <th ng-if="measurement.name == 'Steps'">AVG</th>
          <th ng-if="measurement.name == 'Blood pressure'">Systolic</th>
        <th ng-if="measurement.name == 'Blood pressure'">Diastolic</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="result in results">
        <th scope="row">{{ result.date | date : "short" }}</th>
        <td >{{ result.reading }}</td>
        <td ng-if="result.reading1">{{ result.reading1 }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="ok()">Close</button>
</div>
