<synsormed-header title="Readings" back-button="true" logged-in="true"></synsormed-header>
<div id="monitor-survey" wait="wait" scroll='true'>
    <section>
        <div id="survey-question-container">
            <div>
                <div class="row survey-ques-border">
                    <div class="bg-siz text-center ques-color">While on this screen, the app is attempting 
                    to talk to your health devices. Please proceed with using your devices at this time. The screen will go away in 3 mintues.</div>
                </div>
            </div>
        </div>
        <div id="survey-question-container" ng-repeat="measurement in measurements">
            <div>
                <div class="row survey-ques-border" ng-if="measurement.name != 'Status'">
                    <div class="bg-siz text-center ques-color">{{measurement.name}}: {{measurement.status}}</div>
                </div>
            </div>
        </div>
    </section>
</div>
