<div id="monitor-service-list" class="modal-body" style="position: relative;" wait="waiting">
    <div class="text-center">
        <h3>Available Indicators</h3>
    </div>

    <div class="panel panel-default">
        <div class="panel-body panel-fix">
            <div class="center">
                <ul ng-if="indicators && indicators.length" class="list-group">
                    <li ng-repeat="indicator in indicators" class="pointer list-group-item">
                        <a ng-click="selectIndicator(indicator)"> {{indicator.name}} </a>
                    </li>
                </ul>
                <div ng-if="!indicators || !indicators.length" class="alert alert-warning" >
                    No Indicators Available
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
   <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
