#ehrGraph{
    .mar-bot-15
    {
        margin-bottom: 15px;
    }
    .panel
    {
        margin-bottom: 0px;
    }
    .modal-body
    {
        padding-bottom: 10px;
        padding-top: 10px;
    }
}
