#worklist{
  #worklist-filter{
    background-color:#f7f6f6;
    .input-group{
      width: 185px;
      @media only screen and (max-width : 460px) {
        width: 100px;
      }
      .input-group-addon{
        background-color : rgba(0,0,0,0);
        border: none;
        color: inherit;
        padding-left:0px;
        padding-right:5px;
      }
    }
    > div.container{
       > div {
         margin-top:15px;
         margin-bottom:15px;
        > h3 {
         margin-top:5px;
         margin-bottom:0px;
         padding : 0px;
         }
       }
    }
    span.small-text{
      font-size:12px;
    }
  }

  .btn-options{
      font-size: 19px !important;
      padding: 0px 10px !important;
  }
  .font-15{
      font-size: 15px;
  }
  .width25{
     width: 25px;
  }
  .ipad-fix {
    padding-right: 0px;
  }
}
