<div class="modal-header">
    <h3 class="modal-title text-center">
        <span>Edit Note for {{encounter.patientCode}}</span>
    </h3>
</div>
<div class="modal-body" style="position: relative" wait="waiting">
    <alert ng-if="notification" type="danger">{{notification}}</alert>
    <form name="form">
        <div class="form-group" validate>
            <label>Notes</label>
            <textarea class="form-control" type="text" ng-model="encounter.note"></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
</script>