<div  id="video-chat-container" modaldraggable>
    <div>
        <div class="pull-left online-area">
            <i ng-if="onlineEncounters[encounterId]" class="fa fa-circle online-patient" aria-hidden="true" title="Patient is online"></i>
            <i ng-if="!onlineEncounters[encounterId]" class="fa fa-circle text-danger" aria-hidden="true" title="Patient is offline"></i>
        </div>
        <div class="pull-right close-btn">
            <i class="fa fa-times" aria-hidden="true" ng-click="close()"></i>
        </div>
        <div class="clear"></div>
    </div>
    <div class="modal-body">
        <div class="remote-video-wrap">
            <video id="remoteVideo" ng-class="showBackground ? 'video-background' : ''" class="video-style" poster="/images/synsormed_logo_color.png"></video>
            <div class="local-timer-wrap" ng-if="duration">
                <alert class="text-center" type="info">{{duration | timerFormat}}</alert>
            </div>
            <div class="local-video-wrap">
                <video id="localVideo" autoplay="true" muted="muted" ng-class="showBackground ? 'video-background' : ''" class="video-style" poster="/images/synsormed_logo_color.png"></video>
            </div>
        </div>
        <div class="top-margin-10 text-center">
            <button ng-disabled="disableBtn || !onlineEncounters[encounterId]" ng-if="controls.start" class="btn btn-success" ng-click="startCall()" title="Start Call">
                <i class="fa fa-phone fa-lg" aria-hidden="true"></i>
            </button>
            <button ng-disabled="disableBtn || !onlineEncounters[encounterId]" ng-if="controls.dial && !controls.start" class="btn btn-success" title="Dialing">
                Dialing...
            </button>
            <button ng-disabled="disableBtn || !onlineEncounters[encounterId]" ng-if="!controls.start" class="btn btn-danger" ng-click="endCall()" title="End Call">
                <i class="fa fa-phone fa-lg" aria-hidden="true"></i>
            </button>
            <button ng-disabled="disableBtn || !onlineEncounters[encounterId]" ng-if="controls.audio" class="btn btn-success" title="Mute Audio" ng-click="toggleType('audio')">
                <i class="fa fa-microphone" aria-hidden="true"></i>
            </button>
            <button ng-disabled="disableBtn || !onlineEncounters[encounterId]" ng-if="!controls.audio" class="btn btn-danger" title="Unmute Audio" ng-click="toggleType('audio')">
                <i class="fa fa-microphone-slash" aria-hidden="true"></i>
            </button>
            <button ng-disabled="disableBtn || !onlineEncounters[encounterId]" ng-if="controls.video" class="btn btn-success" title="Hide Video" ng-click="toggleType('video')">
                <i class="fa fa-video-camera" aria-hidden="true"></i>
            </button>
            <button ng-disabled="disableBtn || !onlineEncounters[encounterId]" ng-if="!controls.video" class="btn btn-danger" title="Show Video" ng-click="toggleType('video')">
                <i class="fa fa-video-camera" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
