#stacked-progress-toggle-box{
  background-color: #ffffff;
  .stacked-progress {
    height: 5px; 
    border-radius: 0px; 
    cursor:pointer
  }

  #toggle-switch-wrapper{
    height: 30px;
    overflow: hidden;

    &.switched{
      .switch-box{
        top: -28px !important;
      }
    }

    .switch-box{
      position: relative;
      top: 0;
      transition: top 0.25s ease-in-out 0s;
    }

    .info-box:first-child{
      padding: 5px 0 0;
    }
    
    .info-box{
      height: 30px;
    }
  }
}