<div class="form-group" ng-if='measurement.name.toLowerCase()=="status"'>
    <h5>Select survey <help help-text="Select a survey for patient."/></h5>
    <select ng-model="selected.statusSurveyId" ng-options="s.id as s.displayName for s in statusSurvey" name="status-survey" required class="form-control btn-secondary"></select>
</div>
<div class="from-group">
  <h5 ng-if='measurement.name.toLowerCase()!="status" && measurement.name.toLowerCase() !="oxygen flow"'>Safe Range <span class="small" ng-if='measurement.unit'>({{measurement.unit}})</span> <help help-text="You will be notified if submitted readings are outside of this safe range."/></h5>
  <h5 ng-if='measurement.name.toLowerCase() =="oxygen flow"'>Target Flow Rate <span class="small" ng-if='measurement.unit'>({{measurement.unit}})</span> <help help-text="The ideal flow rate for this patient"/></h5>
  <div ng-if='measurement.name.toLowerCase()!="blood pressure" && measurement.name.toLowerCase()!="status" && measurement.name.toLowerCase() !="oxygen flow"'>
     <div range-slider min="slider.floor" max="slider.ceil" step="slider.step" decimal-places="slider.decimal" model-min="slider.min" model-max="slider.max" show-values="false" class="override-range-slider-styles"></div>
     <div>
         <input type="text" ng-model="slider.min" ng-model-options="modelOptionsConfig" class="float-left slider-input-box">
         <input type="text" ng-model="slider.max" ng-model-options="modelOptionsConfig" class="float-right slider-input-box"/>
         <div class="clear"></div>
     </div>
  </div>
  <div ng-if='measurement.name.toLowerCase()=="oxygen flow"'>
     <div range-slider min="slider.floor" max="slider.ceil" step="{{slider.step}}" decimal-places="{{slider.decimal}}" model-min="slider.min" model-max="slider.max" show-values="false" class="override-range-slider-styles" pin-handle="min"></div>
     <div>
         <input type="text" ng-model="slider.max" ng-model-options="modelOptionsConfig" class="slider-input-box" style="margin-left:{{sliderValue}}%"/>
         <div class="clear"></div>
     </div>
  </div>
  <div ng-if='measurement.name.toLowerCase()=="blood pressure"'>
    Systolic Pressure
    <div range-slider min="bpslider.floor" max="bpslider.ceil" model-min="bpslider.min" model-max="bpslider.max" show-values="false" class="override-range-slider-styles"></div>
    <div>
        <input type="text" ng-model="bpslider.min" ng-model-options="modelOptionsConfig" class="float-left slider-input-box">
        <input type="text" ng-model="bpslider.max" ng-model-options="modelOptionsConfig" class="float-right slider-input-box"/>
        <div class="clear"></div>
    </div>
    Diastolic Pressure
    <div range-slider min="bpslider.floor" max="bpslider.ceil" model-min="bpslider.min1" model-max="bpslider.max1" show-values="false" class="override-range-slider-styles"></div>
    <div>
        <input type="text" ng-model="bpslider.min1" ng-model-options="modelOptionsConfig" class="float-left slider-input-box">
        <input type="text" ng-model="bpslider.max1" ng-model-options="modelOptionsConfig" class="float-right slider-input-box"/>
        <div class="clear"></div>
    </div>
  </div>
</div>
