<synsormed-header title="Questions" back-button="true" logged-in="true"></synsormed-header>

<div id="monitor-survey" wait="wait" scroll='true'>
    <section>
        <div id="survey-question-container">
            <div ng-if="comebackAgain">
                <h2>My Day</h2>
                <h3>{{weekDay}}, {{currentDate}}</h3>
                <div class="row survey-ques-border">
                    <div class="bg-siz text-center ques-color">Your daily survey is already complete</div>
                    <h3>It's been less than 24 hours since you've taken your last survey, please take the survey again tomorrow</h3>
                </div>
            </div>
            <div class="survey-question" ng-repeat='question in questions' ng-if="!comebackAgain && questions && questions.length">
                <h2>My Day</h2>
                <h3>{{weekDay}}, {{currentDate}}</h3>
                <div class="row survey-ques-border">
                    <div class="bg-siz text-center ques-color">{{question.text}}</div>
                    <div ng-if="isOptionsExists(question.choices)" class="survey-buttons">
                        <div ng-repeat='option in question.choices.options'>
                            <button style="width:80%;" ng-click="setAnswer(question.id, option, $parent.$index)">{{option}}</button>
                        </div>
                    </div>
                    <div ng-if="isBooleanExists(question.choices)" class="survey-buttons boolean-options">
                        <div ng-repeat='boolean in question.choices.boolean'>
                            <button ng-click="setAnswer(question.id, boolean.value, $parent.$index)">{{boolean.text}}</button>
                        </div>
                    </div>
                    <div ng-if="isBoundExists(question.choices)" ng-init="option=question.choices.bounds.max">
                        <div class="form-group text-center">
                            <table align="center">
                                <tr>
                                    <td>
                                        <i ng-click="option=valueDown(option, question.choices.bounds.min)" class="fa fa-arrow-circle-down arrow-down" aria-hidden="true">
                                        </i>
                                    </td>
                                    <td class="pad5">
                                        <input class="value-container text-center" range-cheker range-min="{{question.choices.bounds.min}}" range-max="{{question.choices.bounds.max}}"
                                            ng-model="option" type="text" />
                                    </td>
                                    <td>
                                        <i ng-click="option=valueUp(option, question.choices.bounds.max)" class="fa fa-arrow-circle-up arrow-up" aria-hidden="true">
                                        </i>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <small>
                                            <strong>Range:</strong>{{question.choices.bounds.min}} to {{question.choices.bounds.max}}
                                        </small>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <button class="next-btn" ng-click="setAnswer(question.id, option, $parent.$index)">Next</button>
                    </div>
                </div>
            </div>
            <div ng-if="!comebackAgain && (!questions || !questions.length) && !answeredQues && !oxyMeas">
                <div class="panel-body text-center" ng-if="!documents.length">
                    <i class="textwarning fa-4x fa fa fa-times-circle"></i>
                    <h3 class="textwarning">No question available</h3>
                </div>
            </div>
             <div ng-if="!comebackAgain && !questions.length && showImg && false" class="text-center">
                  <h2>My Day</h2>
                  <h3>{{weekDay}}, {{currentDate}}</h3>
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <h2>Patient Education</h2>
                       <img style="display: block;margin-left: auto;margin-right: auto;" src="img/inhalerInstructions2.png"/>
                    </div>
                  </div>
                  <button class="button btn-lg btn-success btn-text" ng-click="imgNext()"><span>Next</span></button>
             </div>
             <div class="text-center" ng-if="!comebackAgain && (!questions.length && oxyMeas && beforeNext && !surveyComplete && !showImg && false)">
                  <h2>My Day</h2>
                  <h3>{{weekDay}}, {{currentDate}}</h3>
                  <div class="row survey-ques-border">
                      <div class="text-center">
                        <h2 class="spo2-head" style="color:#696969">Time to check your SPO2</h2>
                        <h3>Please activate the device</h3>
                        <h3>by putting your finger in the</h3>
                        <h3>Pulse Oximeter</h3>
                     </div>
                     <!-- <button class="button btn-lg btn-success btn-text" ng-click="closeApp()"><span>Skip</span></button> -->
                     <button class="button btn-lg btn-success btn-text" ng-click="gatherDataNext()"><span>Next</span></button>
                  </div>
             </div>
             <div class="text-center" ng-if="!comebackAgain && (!questions.length && oxyMeas && !beforeNext && !gatheredData && false)">
                  <h2>My Day</h2>
                  <h3>{{weekDay}}, {{currentDate}}</h3>
                  <div class="row survey-ques-border">
                      <div class="text-center">
                        <h2 class="spo2-head" style="color:#696969">Gathering data....</h2>
                        <div class="progress" style='margin:0px 40px;'>
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                     aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{SynsorTrackDataLength ? (SynsorTrackDataLength*10) : 0}}%">
                            </div>
                        </div>
                        <span>{{SynsorTrackDataLength ? (SynsorTrackDataLength*10) : 0}}%</span>
                      </div>
                  </div>
             </div>
             <div class="text-center" ng-if="!comebackAgain && (!questions.length && oxyMeas && gatheredData && !syncd && false)">
                  <h2>My Day</h2>
                  <h3>{{weekDay}}, {{currentDate}}</h3>
                  <div class="row survey-ques-border">
                      <div class="text-center">
                        <h2 class="spo2-head" style="color:#696969">Syncing Successful!</h2>
                        <h3>Your reading has been sent<h3>
                        <h3>to your Care Coordinator</h3>
                      </div>
                     <button class="button btn-lg btn-success btn-text" ng-click="syncNext()"><span>Next</span></button>
                  </div>
             </div>
             <div ng-if="!comebackAgain && answeredQues && !questions.length && congratsScreen" class="text-center">
                <h2>My Day</h2>
                <h3>{{weekDay}}, {{currentDate}}</h3>
                <div class="row survey-ques-border">
                    <div class="bg-siz text-center ques-color">CONGRATS!</div>
                    <div>
                      <h3 class="ques-color">You have completed the survey </h3>
                      <h1 style="color:#F05F3A">{{submitSurveyLength || 0}}</h1>
                      <h3 class="ques-color"> times!</h3>
                      <h3 class="ques-color">A great goal is to complete</h3>
                     <h3 class="ques-color">the survey 30 times in a row!</h3>
                   </div>
                   <h3>Thank you for taking your survey.</h3>
                 </div>
                 <button class="button btn-lg btn-success btn-text" ng-click="surveyNext()"><span>Next</span></button>
              </div>
              <div ng-if="comebackAgain" class="text-center">
                <button class="button btn-lg btn-success btn-text" ng-click="surveyNext()"><span>Next</span></button>
              </div>
        </div>
        <div class="text-center img-row" ng-if="!comebackAgain && (questions || questions.length)">
          <img src="img/progress/progress_{{imgProgress}}.jpg" height="200px" width="200px" ng-if="!surveyComplete && (questions.length || !oxyMeas)"/>
          <!-- <img src="img/progress1/survey_complete.jpg" height="200px" width="300px" ng-if="surveyComplete"/> -->
          <br>
          <!-- <button class="button btn-lg btn-success btn-text" ng-click="redirectToRead()" ng-if="exitButton && (questions.length || !oxyMeas)"><span>Next</span><i class="fa fa-sign-out"></i></button> -->
        </div>
    </section>
</div>
