#readMonitor{
    .clear{
        clear:both;
    }
    .tile-row{
        width: 100%;
        .tile-col{
            width: 25%;
            float: left;
            padding: 5px;

            .smal{
                font-size: 75%;
            }

            .ind-img{
                height: 160px;
                width: 90%;
            }

            .spin-fa-icon{
              transition-property: transform;
               transition-duration: 1s;
               animation-name: rotate;
               animation-duration: 2s;
               animation-iteration-count: infinite;
               animation-timing-function: linear;
             }

            @keyframes rotate {
                from {transform: rotate(0deg);}
                to {transform: rotate(360deg);}
            }

            .tile-wrap{
                position: relative;
                .tile{
                    background: #00aba2;
                    min-height: 200px;
                    border: 1px solid #ddd;
                    border-radius: 20px;
                    color: #fff;
                    padding: 5px;
                    .tile-icon{
                        font-size: 50px;
                    }
                    .tile-table{
                        width: 100%;
                        height: 100%;
                    }
                    .font15{
                        font-size: 15px;
                    }
                }
                .tile-title{
                    position: relative;
                    top: 5px;
                    font-size:20px;
                }
                .tile_single{
                    width: 100% !important;
                    border: none;
                }
                .tile__back{
                    position: absolute;
                    left:0;
                    top:0;
                    width: 100%;
                    height: 100%;
                }
                .tile__back{
                    -webkit-transform: rotateY(-180deg);
                            transform: rotateY(-180deg);
                }
                .tile__front, .tile__back {
                  -webkit-backface-visibility: hidden;
                          backface-visibility: hidden;
                  -webkit-transition: -webkit-transform 0.3s;
                          transition: transform 0.3s;
                }
                .tile-color {
                  background: #00aba2;
                  .tile-green{
                    color: green;
                  }
                }
                .tile-status {
                  color: #cf3915;
                }
            }
        }



        .tile-col.flipped .tile__front {
          -webkit-transform: rotateY(-180deg);
                  transform: rotateY(-180deg);
        }

        .tile-col.flipped .tile__back {
          -webkit-transform: rotateY(0);
                  transform: rotateY(0);
        }

        @media (max-width:801px){
            .tile-col{
                width: 33.3%;
            }
        }

        @media (max-width:600px){
            .tile-col{
                width: 33.3%;
            }
         }

         @media (max-width:480px){
             .tile-col{
                 width: 50%;
             }
             .tile{
                 min-height: 150px;
             }
             .tile-title{
                 position: relative;
                 top: 25px;
             }
         }


        @media (max-width:320px){
            .tile-col{
                width: 50%;
            }
            .tile{
                min-height: 150px;
            }
            .ind-img{
                width: 100%;
            }
        }
    }
    .table {
        margin-bottom: 0px;
        td {
            text-align: center;
        }
    }
    .panel-heading
    {
        background-color: #fff;
    }
    .panel-title {
        margin-bottom: 10px;
    }
    .alert-info{
        color: grey;
    }
    .danger-text{
        color: $brand-danger;
    }
    .warning-text{
        color: $brand-warning;
    }
    .icon-color{
        background-color:#F05F3A;
        color:#fff;
    }
    .middle{
        margin-top: 5px;
    }
    h2 {
        margin-top: 0px;
    }
    .sync-img{
        width:50px;
    }
    .indicator-btn{
        background: $brand-primary;
        color:#fff;
    }
    #indicators{
        .panel-heading{
            height: 55px;
            padding: 0px;
        }

        .panel-heading *{
            height: 100%;
            width: 100%;
        }

        .indicator-btn{
            font-size: 18px;
            padding: 15px 40px;
        }

        .pad0{
            padding: 0px;
        }

    }

    .primary-background{
        background: $brand-primary;
    }

    .txt-primary{
        color: $brand-primary;
    }

    .sync-btn{
        // padding: 5px 25px;
        // font-size: 20px;
        font-size: 13px;
        font-weight: bold;
    }
}
#monitor-device-list{
    .show-ble-devices{
        height: 85px;
        overflow: auto;
    }
    .warning-text{
        color: $brand-warning;
    }
    .bluetooth-size{
        font-size: 35px;
    }
    @keyframes blink {
        0% { color:#0000ff }
        100% { color:#ffffff }
    }
    @-webkit-keyframes blink {
        0% { color:#0000ff }
        100% { color:#ffffff }
    }
    .blink {
        -webkit-animation: blink 2s linear infinite;
        -moz-animation: blink 2s linear infinite;
        animation: blink 2s linear infinite;
    }
    .scan-margin {
        margin-top: 12px !important;
        margin-bottom: 0px !important;
    }

    .btn-device-link{
        padding: 5px 10px;
    }
}

#bluetooth-data{
    @keyframes arrow {
        0% { right:0% }
        25% { right:17% }
        50% { right:35% }
        75% { right:52% }
        100% { right:70% }
    }
    @-webkit-keyframes arrow {
        0% { right:0% }
        25% { right:17% }
        50% { right:35% }
        75% { right:52% }
        100% { right:70% }
    }
    .getting-data-arrow {
        -webkit-animation: arrow 1s linear infinite;
        -moz-animation: arrow 1s linear infinite;
        animation: arrow 1s linear infinite;
        position: relative;
    }

    .mob-d{
        width:20%;
        font-size:50px;
        color: #00aba2;
    }

    .arrw{
        width:60%;
        font-size:50px
    }

    .bt-icon{
        width:20%;
        font-size:35px;
        padding-top:11px;
        color: #0000ff;
    }

    .clear{
        clear:both;
    }
}
#appData{
  background-color:#00ABA2;
  .service-header{
    h3{
        color:#fff;
    }
  }
  .service-body{
    ul{
      list-style:none;
      margin-left: -40px;
      li{
        h3{
          .font-col{
            color:#fff;
          }
        }
      }
    }
    .font-col{
      color:#fff;
    }
  }
}
