<div id="appData">
  <div class="modal-header service-header">
      <h3 class="modal-title font-col">
        {{ measurement.name }} Readings
      </h3>
  </div>
  <div class="modal-body service-body">
    <alert ng-if="error" type="danger" style="margin-top: 10px;">{{error}}</alert>
    <table class="table font-col" ng-if="!error">
        <thead>
          <tr>
            <th class="text-center">Date</th>
            <th ng-if="measurement.name != 'Blood pressure' && measurement.name != 'Hours'" class="text-center">Measurements<span ng-if="measurement.unit"> ({{ measurement.unit }})</span></th>
              <th ng-if="measurement.name == 'Steps'" class="text-center">AVG</th>
              <th ng-if="measurement.name == 'Hours'" class="text-center">Hours</th>
              <th ng-if="measurement.name == 'Blood pressure'" class="text-center">Systolic</th>
              <th ng-if="measurement.name == 'Blood pressure'" class="text-center">Diastolic</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="result in pagination.results">
            <th scope="row" class="text-center">{{ result.date | date : "short" }}</th>
            <td class="text-center">{{ result.reading }}</td>
            <td ng-if="result.reading1 && measurement.name != 'Oxygen flow'" class="text-center">{{ result.reading1 }}</td>
          </tr>
        </tbody>
  </table>
  <div ng-if="pagination.results && pagination.results.length != 0" class="text-center">
    <ul class="pagination" ng-if="pageCount != 1">
        <li><span ng-click="pageTurn(-1)"><i class="fa fa-arrow-left"></i></span></li>
        <li ng-repeat="aPage in pages" ng-class="{active: pagination.page == aPage}"><span ng-click="pageTo(aPage)">{{aPage}}</span></li>
        <li><span ng-click="pageTurn(1)"><i class="fa fa-arrow-right"></i></span></li>
    </ul>
  </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-warning" ng-click="ok()">Close</button>
  </div>
</div>
