<div id="contactInfo" style="background-color:#00aba2">
  <div class="modal-header">
      <h3 class="modal-title" style="color:#fff;">
        Contact Information
      </h3>
  </div>
  <div class="modal-body">
      <div class="row">
        <h3 style="color:#fff;">{{monitor.practiceName}}</h3>
        <h3 style="color:#fff;">{{monitor.providerName}}</h3>
        <h3 ng-if="monitor.phoneNumber"><a href="tel:{{monitor.phoneNumber}}" style="color:#fff;">{{monitor.phoneNumber | tel}}</a></h3>
        <h3 ng-if="monitor.email"><a href="mailto:{{monitor.email}}" style="color:#fff;">{{monitor.email}}</a></h3>
      </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-warning" ng-click="ok()">Close</button>
  </div>
</div>
