<div id="readMonitor">
    <synsormed-header title="Monitor" back-button="false" logged-in="true" is-enrolled="{{monitor.isEnrolled}}"></synsormed-header>
    <section>
        <div class="tile-row">

            <div class="panel panel-default" ng-if="showSyncBar()" ng-show="false">
                <div class="panel-body text-center">
                    <h1>Sync ({{getSyncableServices()}})</h1>
                    <div ng-if="(healthkitConnected || c5Conn || eclipseConn) && !healthkitSyncing && !c5Syncing">
                        <button type="button" class="btn btn-success sync-btn primary-background" ng-click="syncServicesData()">Sync</button>
                    </div>
                    <br/>
                    <div ng-if="noninConnected && !healthkitSyncing && !c5Syncing">
                        <button type="button" class="btn btn-success sync-btn primary-background" ng-click="syncDeviceForService('nonin')">Sync Nonin</button>
                    </div>
                    <div ng-if="healthkitSyncing || c5Syncing">
                        <div>
                            <img src="img/syncing.gif" class="sync-img" />
                        </div>
                        <div>Syncing</div>
                    </div>
                </div>
            </div>

            <div class="tile-col" flip-tile ng-if="showSyncBar()">
                <div class="tile-wrap">
                    <div class="tile tile__front tile-color">
                        <div class="tile-icon pull-right">
                            <span>
                                <i class="fa fa-upload"></i>
                            </span>
                        </div>
                        <div class="clear text-center tile-title">
                            <b>Send Data</b>
                        </div>
                    </div>
                    <div class="tile tile-color tile__back">
                        <table class="tile-table text-center">
                            <tr>
                                <td>
                                    <div ng-if="andConn && !healthkitSyncing && !c5Syncing">
                                        <button type="button" class="btn btn-warning sync-btn" ng-click="syncDeviceForService('and')">Sync AND</button>
                                        <br/>
                                    </div>
                                    <div ng-if="eclipseConn && !healthkitSyncing && !c5Syncing">
                                        <button type="button" class="btn btn-warning sync-btn" ng-click="syncServicesData()">Sync Eclipse</button>
                                        <br/>
                                    </div>
                                    <div ng-if="c5Conn && !healthkitSyncing && !c5Syncing">
                                        <button type="button" class="btn btn-warning sync-btn" ng-click="syncServicesData()">Sync C5</button>
                                        <br/>
                                    </div>
                                    <div ng-if="healthkitConnected && !healthkitSyncing && !c5Syncing">
                                        <button type="button" class="btn btn-warning sync-btn" ng-click="syncServicesData()">Sync Healthkit</button>
                                        <br/>
                                    </div>
                                    <div ng-if="noninConnected && !healthkitSyncing && !c5Syncing">
                                        <button type="button" class="btn btn-warning sync-btn" ng-click="syncDeviceForService('nonin')">Sync Nonin</button>
                                        <br/>
                                    </div>
                                    <div ng-if="synsortrackConnected && !healthkitSyncing && !c5Syncing">
                                        <button type="button" class="btn btn-warning sync-btn" ng-click="syncDeviceForService('synsortrack')">Sync SynsorTrack</button>
                                        <br/>
                                    </div>
                                    <div ng-if="healthkitSyncing || c5Syncing">
                                        <div>
                                            <!-- <img src="img/syncing.gif"  class="sync-img"/> -->
                                            <i class="fa spin-fa-icon fa-refresh fa-2x" aria-hidden="true"></i>
                                        </div>
                                        <div>Syncing</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tile-col" ng-if="isEducationAvailable && iseducation" ng-click="goToDocumentsPage()">
                <div class="tile-wrap">
                    <table class="tile tile-color tile_front tile-table text-center tile_single">
                        <tr>
                            <td class="tile-title">
                                <b>{{documents.length}} Unread Documents</b>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="tile-col" ng-if="synsormedServiceConnected" ng-click="goToSynsormedService()">
                <div class="tile-wrap">
                    <table class="tile tile-color tile_front tile-table text-center tile_single">
                        <tr>
                            <td class="tile-title">
                                <b>SynsorMed service</b>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="tile-col" ng-if="patientStatusMeasurement" ng-click="surveyPage(patientStatusMeasurement)">
                <div class="tile-wrap">
                    <table class="tile tile-color tile_front tile-table text-center tile_single">
                        <tr>
                            <td class="tile-title">
                                <b>Patient Survey</b>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="tile-col" ng-click="contactModal(monitor)">
                <div class="tile-wrap">
                    <div class="tile tile-color tile__front">
                        <div class="tile-icon pull-right">
                            <span>
                                <i class="fa fa-info-circle"></i>
                            </span>
                        </div>
                        <div class="clear text-center tile-title">
                            <b>Contact Information</b>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tile-col" ng-click="dataModal(monitor)">
                <div class="tile-wrap">
                    <div class="tile tile-color tile__front">
                        <div class="tile-icon pull-right">
                            <span>
                                <i class="fa fa-info-circle"></i>
                            </span>
                        </div>
                        <div class="clear text-center tile-title">
                            <b>Data</b>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tile-col" ng-repeat='measurement in measurements' flip-tile>
                <div class="tile-wrap">
                    <div class="tile tile-color tile__front">
                        <div class="tile-icon pull-right">
                            <span ng-if="measurement.serviceName && (measurement.name.toLowerCase() != 'oxygen flow') && measurement.oauthAvailable"
                                ng-class="measurement.availableDevice ? 'tile-green' : 'tile-status'">
                                <i class="fa fa-circle"></i>
                            </span>
                            <span ng-if="measurement.serviceName && (measurement.name.toLowerCase() == 'oxygen flow') && measurement.oauthAvailable"
                                ng-class="measurement.availableDevice ? 'tile-green' : 'tile-status'">
                                <i class="fa fa-circle"></i>
                            </span>
                            <span ng-click="measurement.name.toLowerCase() == 'status' ? surveyPage(measurement) :servicesList(measurement)" ng-if='!(measurement.serviceName && measurement.oauthAvailable)'>
                                <i class="fa fa-cloud-upload"></i>
                            </span>
                        </div>
                        <div class="clear text-center tile-title">
                            <b>{{measurement.display_name || measurement.name}}</b>
                        </div>
                    </div>
                    <div class="tile tile-color tile__back">
                        <table class="tile-table text-center">
                            <tr>
                                <td>
                                    <div class="clear text-center tile-title">
                                        <span ng-if='measurement.serviceName && measurement.oauthAvailable'>
                                            <b ng-if="measurement.serviceName.toLowerCase() != 'c5'">{{measurement.serviceName}}</b>
                                            <b ng-if="measurement.serviceName.toLowerCase() == 'c5'">Companion 5</b>
                                        </span>
                                        <span ng-if='!(measurement.serviceName && measurement.oauthAvailable)'>
                                            <small>
                                                <b>Not Connected</b>
                                            </small>
                                        </span>
                                    </div>
                                    <div class="text-center" ng-if="measurement.name.toLowerCase() != 'status'">
                                        <small>
                                            <span ng-if="measurement.name.toLowerCase() != 'oxygen flow'">
                                                <b>Goal: </b>{{measurement.lowerbound}} {{measurement.unit || ''}} to {{measurement.upperbound}}
                                                {{measurement.unit || ''}}
                                            </span>
                                            <span ng-if="measurement.name.toLowerCase() == 'oxygen flow'">
                                                <b>Goal: </b>{{measurement.upperbound}} {{measurement.unit || ''}}
                                            </span>
                                        </small>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!-- <div class="tile-col" ng-if="isConnected">
                <div class="tile-wrap">
                    <div class="tile__front tile" ng-class="availableDevice ? 'tile-color' : 'tile-status'">
                       <div class="tile-icon pull-right">
                           <span> <i class="fa fa-info-circle"></i> </span>
                       </div>
                       <div class="clear text-center tile-title">
                          <b>Status</b>
                       </div>
                    </div>
                </div>
            </div> -->
        </div>

        <!--<div class="panel panel-default" ng-if="checkConnectedService('c5')">
            <div class="panel-body text-center">
                <h1>Recent value</h1>
                 <div class="row" ng-if="latestC5Data">
                     <div class="col-xs-6">
                        <h2>Flow (lpm)</h2>
                     </div>
                     <div class="col-xs-6"><h2>Purity (%)</h2></div>
                 </div>
                 <div class="row" ng-if="latestC5Data">
                     <div class="col-xs-6"><h2>{{latestC5Data.flow}}</h2></div>
                     <div class="col-xs-6"><h2>{{latestC5Data.purity}}</h2></div>
                 </div>
                 <alert type="info" ng-if="!latestC5Data">
                   <h4>No recent value.</h4>
                 </alert>
            </div>
        </div>-->
    </section>
</div>