#ehrMonitor
{
    //-webkit-transform: translate(-50%,-50%);
    //transform: translate(0%,0%);
    position: relative;
    left: 35%;
    //top:12%;
    vertical-align: middle;
    width: 31%;
    height: auto;
    .mar-top-20
    {
        margin-top: 20px;
    }
}
