#organization {
  .activeLabel
  {
    position: relative;
    top: 5px;
  }
  .form-group {
   margin: 20px 0px;
  }
  .header{
    background-color:#f7f6f6;
  }
  div.alert.no-list {
    margin-bottom : 0px;
  }
  .list-group {
    .header {
      background-color:$secondary-color;
      color : #FFFFFF;
    }
  }
}
