<div id="logData">
    <synsormed-header title="Log data" back-button="true" logged-in="true"></synsormed-header>
    <section>
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <h2>{{service.name}}</h2>
                <form role="form" name="form">
                    <div class="form-group">
                        <h4>Date:</h4>
                        <div class='text-center custom-date-picker'>
                            <datepicker name="endDate" ng-model="currentDate" max-date="datePickerMax" show-weeks="true" class="well well-sm"></datepicker>
                        </div>
                    </div>
                    <div>
                         <div class="pull-left time-width">
                             <h4>Time:</h4>
                             <div class='text-center custom-time-picker'>
                                 <timepicker name="endTime" ng-model="currentTime" hour-step="1" minute-step="1" show-meridian="true"></timepicker>
                             </div>
                         </div>
                         <div class="pull-right data-width">
                             <h4>Value:</h4>
                             <div class="padd33" class='text-center' ng-if="service.name.toLowerCase() != 'peak flow rate' && service.name.toLowerCase() != 'temperature' && service.name.toLowerCase() != 'blood pressure'">
                                 <input ng-pattern=/^\d+$/  maxlength="{{currentMaxLength}}" name="dataPoint" ng-model="$parent.dataPoint"
                                 required  class="form-control" type="tel" placeholder="{{service.unit || service.name}}"
                                 ng-blur="onBlur()">
                                 <span ng-if="form.dataPoint.$error.pattern" class="dirty has-error">Invalid value for {{service.name}}</span>
                             </div>
                             <div class="padd33" class='text-center' ng-if="service.name.toLowerCase() == 'temperature' || service.name.toLowerCase() == 'peak flow rate'">
                                 <input ng-pattern=/^[0-9]+([.][0-9]+)?$/  maxlength="{{currentMaxLength}}" name="dataPoint" ng-model="$parent.dataPoint"
                                 required  class="form-control" type="tel" placeholder="{{service.unit || service.name}}"
                                 ng-blur="onBlur()">
                                 <span ng-if="form.dataPoint.$error.pattern" class="dirty has-error">Invalid value for {{service.name}}</span>
                             </div>
                             <div class="padd33" ng-if="service.name.toLowerCase() == 'blood pressure'">
                                 <div class='text-center'>
                                     <input ng-pattern=/^\d+$/ maxlength="{{currentMaxLength}}" name="dataPoint" ng-model="$parent.dataPoint"
                                     required  class="form-control" type="tel" placeholder="Systolic">
                                     <span ng-if="form.dataPoint.$error.pattern" class="dirty has-error">Invalid value for {{service.name}}</span>
                                     <br />
                                     <input ng-pattern=/^\d+$/ maxlength="{{currentMaxLength}}" name="dataPoint2" ng-model="$parent.dataPoint2"
                                     required  class="form-control" type="tel" placeholder="Diastolic">
                                     <span ng-if="form.dataPoint2.$error.pattern" class="dirty has-error">Invalid value for {{service.name}}</span>
                                 </div>
                                 <br />
                             </div>
                         </div>
                         <div class="clear"></div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary logbtn" ng-click="logData()">Log</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
