#leaderboard{
    .warning-text{
        color: $brand-warning;
    }

    .back-clr{
        background: #eee;
    }

    .current-monitor-bg{
        background: #e2debe !important;
    }

    #waiting-list {
        padding: 0;
        > li {
            padding:10px;
            display: block;
            margin-bottom: 1em;
            padding-bottom: 1em;
            background-color: white;
            @include hbox;
            .details {
                @extend .col-xs-12;
                margin-left: 10px;
                .monitor-code{
                    font-size: 25px;
                    margin-left:25px;
                }
            }
        }
    }
}
