<div id="leaderboard">
    <synsormed-header title="Leaderboard" back-button="true" logged-in="true"></synsormed-header>
    <section>
        <div class="panel panel-default back-clr" ng-if="enrolled.length">
            <div class="panel-body">
                  <ul id="waiting-list">
                    <li ng-repeat='enroll in enrolled' ng-class="{'current-monitor-bg': enroll.patientCode == monitor.code}">
                      <div class="details">
                        <div class='row'>
                            <span class="monitor-code  text-uppercase">{{enroll.patientCode}}</span>
                            <div><b>Points :</b> {{enroll.points}}</small></div>
                        </div>
                        <!-- <div class="row"><b>Description :</b> description</small></div> -->
                      </div>
                   </li>
                  </ul>
            </div>
        </div>
        <div class="panel panel-default" ng-if="!enrolled.length">
            <div class="panel-body text-center">
                <i class="warning-text fa-4x fa fa fa-times-circle"></i>
                <h3 class="warning-text">No Monitor</h3>
            </div>
        </div>
    </section>
</div>
