#indicator-metrics{
    .width50{
        width: 50%;
    }
    .marginbtm0{
        margin-bottom: 0px !important;
    }
    .hdr{
        border-color: $brand-primary;
        background: $brand-primary;
        color: #fff;
        font-weight: bold;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
}
