<div id="settings">

  <!-- Nav tabs -->
  <!-- Top nav starts  -->
  <nav class="navbar synsormed-navs navbar-inverse" role="tabs">
    <div class="container">
      <!-- Nav brand start -->
      <div class="navbar-header col-md-2">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target="#collspse-settings-target">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ><strong>Settings</strong></a>
    </div>
    <!-- Nav brand ends-->

    <!-- Nav menu start-->
    <ul id="collspse-settings-target" role="tablist" class="nav navbar-nav collapse navbar-collapse col-md-10">
      <li role="presentation" class="active"><a href="#settingaccount" aria-controls="home" role="tab" data-toggle="tab">Your Account</a></li>
      <!-- Not applicable to this workflow 102917 aholmes
      <li role="presentation" ng-if="user.role == 'Admin'"><a href="#survey" aria-controls="profile" role="tab" data-toggle="tab">Survey Questions</a></li>
    -->
      <li role="presentation" ng-if="user.role == 'Admin'"><a href="#practice" aria-controls="practice" role="tab" data-toggle="tab">Org Details</a></li>
      <li role="presentation" ng-if="user.role == 'Admin'"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">Users</a></li>
      <li role="presentation"><a href="#patients" aria-controls="patients" role="tab" data-toggle="tab" ng-click="loadPatients()">Patients</a></li>
    </ul>
    <!-- Nav menu ends -->

    <div class="alert alert-danger col-md-offset-1 col-md-3" ng-if="licenseMsg" style="padding:8px;margin:10px 0px;float:right;">
      <strong style="padding-left: 35px;">{{licenseMsg}}</strong>
    </div>

  </div>
</nav>

<!-- Tab panes -->
<div class="tab-content">

  <div role="tabpanel" class="tab-pane active" id="settingaccount" ng-controller="SettingsAccountController">
    <div class="header">
      <div class="container">
        <div class="col-md-12"><h3 class="form-group">Your Account</h3></div>
      </div>
    </div>
    <form class="container" name="form">
      <div class="container">
        <div class="row">
          <div class='col-md-12'>
            <div class="form-group" validate>
              <label>Email</label>
              <input name="email" type="email" required class="form-control" ng-model="user.email" ng-disabled="user.role != 'Admin'">
              <small ng-if="user.role != 'Admin'">Contact your administrator to change your email</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class='col-md-6 col-xs-12'>
            <h4>Change password</h4>
            <div class="form-group" validate>
              <label>Password</label>
              <input type="password" name="password" class="form-control" ng-model="user.password">
            </div>
            <div class="form-group" validate>
              <label>Confirm Password</label>
              <input type="password" name="confirmPassword" class="form-control" ng-model="user.confirmPassword">
            </div>
          </div><!--
          <div class='col-md-6 col-xs-12'>
            <h4>Contact details</h4>
            <div class="form-group" validate>
              <label>Contact Number</label>
              <input type="text" maxlength="10" minlength="10" name="phone_mobile" class="form-control" ng-model="user.phone_mobile" />
            </div>
            <div class="form-group" validate>
              <label>Service Provider</label>
              <select name='network_id' class="form-control" ng-model='user.network_id'>
                <option value='{{val.id}}' ng-selected = 'val.id == user.network_id' ng-repeat='val in providers'>{{val.name}}</option>
              </select>
            </div>
          </div>-->
        </div>
        <div class="row">
          <div class='col-md-1'>
            <button class="btn btn-primary btn-sm" ng-click="save(form)"><strong>SAVE</strong></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="survey" ng-controller="SettingsSurveyController">
    <div class="header">
      <div class="container">
        <div class="col-md-8 col-sm-7 col-lg-9 col-xs-12"><h3>Survey Questions</h3></div>
        <div class="col-md-4 col-sm-5 col-lg-3 col-xs-12">
          <div class="form-group">
            <button class="btn btn-secondary btn-sm" ng-click="addEmptyQuestion()"><strong>ADD A SURVEY QUESTION</strong></button>
            <button class="btn btn-primary btn-sm" ng-click="save()"><strong>SAVE</strong></button>
          </div>
        </div>
      </div>
    </div>
    <alert class="container no-list" ng-if="surveyQuestions.length == 0" type="warning">You have no survey questions</alert>
    <div class="synsormed-list-table container" ng-if="surveyQuestions.length !== 0">
      <div class="hidden-xs list-head-row row">
        <div class="col-sm-2"><strong>Question #</strong></div>
        <div class="col-sm-8"><strong>Question Text</strong></div>
        <div class="col-sm-2 text-center"><strong>Actions</strong></div>
      </div>
      <div class="list-head-row hover-grid row" ng-repeat="surveyQuestion in surveyQuestions">
        <div class="col-sm-2">Question #{{$index + 1}}</div>
        <div class="col-sm-8 overflow-wrap">
          {{surveyQuestion.text}}
        </div>
        <div class="col-sm-2 text-center">
          <button class="btn btn-secondary" ng-click="editQuestion(surveyQuestion,$index + 1)"><i class="fa fa-edit"></i></button>
          <button class="btn btn-secondary" ng-click="removeQuestion($index)"><i class="fa fa-trash"></i></button>
        </div>
      </div>
    </div>
    <div class="container">
      <small>
        Changes to survey questions will not affect any patients already in the system. Question will be answered with a 'yes' (positive response) or 'no' (negative response).
      </small>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="practice" ng-controller="SettingsPracticeInformation">
    <div class="header">
      <div class="container">
        <div class="col-md-12"><h3 class="form-group">Organization Details</h3></div>
      </div>
    </div>
    <form class="container" name="form">
      <!-- Not applicable to this workflow 102917 aholmes
      <div class="form-group" validate>
        <label>Default Fee</label>
        <div class="input-group">
          <div class="input-group-addon btn-secondary"><strong>$</strong></div>
          <input required class="border-secondary form-control" type="number" ng-model="practice.defaultFee">
        </div>
      </div>
    -->
      <div class="form-group" validate>
        <label>Organization Name</label>
        <input required class="form-control" ng-model="practice.name">
      </div>
      <div class="form-group" validate>
          <label>Organization Emails <help help-text="Maximum of 5 Emails that will receive care alerts for the organization."/></label>
          <br />
          <input required ng-model="practice.orgEmails" tags-input type='text' name='orgEmails' class="form-control" />
          <br />
      </div>
      <div class="form-group" validate>
              <br />
              <label>Emergency Access Token <help help-text="Use this code to login as admin using Emergency Access"/></label>
              <br />
          <div class="form-control otp-code-area">
              <div ng-if="!otpCode">
                  <a href="javascript:void(0)" ng-click="getOtp()">Show organization OTP</a>
              </div>
              <div ng-if="otpCode">
                  <span class="otp-clr-code"> {{otpCode}} </span>
                   <a  href="javascript:void(0)" ng-click="removeOtp()">Hide OTP</a>
              </div>
          </div>
      </div>
      <!-- Not applicable to this workflow 102917 aholmes
      <div class="form-group" validate>
          <label>
              <input ng-model="practice.isLeaderboardActive" type="checkbox"> Enable Leaderboard
          </label>
          <help help-text="Enable leaderboard for the organization."/>
      </div>
    -->
      <div>
        <button class="btn btn-primary btn-sm" ng-click="save()"><strong>SAVE</strong></button>
      </div>
    </form>
  </div>

  <div role="tabpanel" class="tab-pane " id="users" ng-controller="SettingsUsersController">
    <div class="header">
      <div class="container">
        <div class="col-xs-4 col-sm-2"><h3>Users</h3></div>
        <div class="col-xs-2 col-sm-7 navmargin">
            <aura-dropdown class='xs-fr pointer' selected="deleteduser.id" items="deletedusers" key="id" item="name"></aura-dropdown>
        </div>
        <div class="col-xs-4 col-sm-1" style="margin-right:10px">
          <div class="form-group">
            <button class="btn btn-primary btn-sm" ng-click="addUser()"><strong>ADD A USER</strong></button>
          </div>
        </div>
        <div class="col-xs-4 col-sm-1">
          <div class="form-group">
            <button class="btn btn-primary btn-sm" ng-click="refreshUserList()"><strong>REFRESH LIST</strong></button>
          </div>
        </div>
      </div>
    </div>

    <div class="synsormed-list-table">
      <div class="list-head-row" ng-if="users.length && users.length">
        <div class="container">
          <div class="col-sm-3 col-xs-4"><strong>Name</strong></div>
          <div class="col-sm-3 hidden-xs"><strong>Email</strong></div>
          <div class="col-sm-3 col-xs-4 text-center"><strong>Role</strong></div>
          <div class="col-sm-3 col-xs-4 text-center"><strong>Actions</strong></div>
        </div>
      </div>
      <div class="list-head-row hover-grid" ng-repeat="practiceUser in users">
        <div class="container">
          <div class="col-sm-3 col-xs-4">{{practiceUser.name}}</div>
          <div class="col-sm-3 hidden-xs">{{practiceUser.email}}</div>
          <div class="col-sm-3 col-xs-4 text-center">{{practiceUser.role}}</div>
          <div class="col-sm-3 col-xs-4 text-center" ng-if="!practiceUser.deleted_at">
            <button class="btn btn-secondary" ng-click="editUser(practiceUser)"><i class="fa fa-edit"></i></button>
            <button class="btn btn-secondary" ng-if="practiceUser.id != user.id" ng-click="deleteUser(practiceUser)"><i class="fa fa-trash"></i></button>
          </div>
          <div class="col-sm-3 col-xs-4 text-center" ng-if="practiceUser.deleted_at">
            <button data-toggle="dropdown" class="dropdown-toggle btn btn-secondary btn-sm btn-options">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu font-15" role="menu">
                <li ng-click="resetUser(practiceUser.id)">
                    <a class="pointer">
                       <i class="text-center width25 text-secondary fa fa-cloud-upload"></i>
                       <span> Reset User </span>
                    </a>
                </li>
                <li ng-click="permanentDeleteUser(practiceUser.id)">
                    <a class="pointer">
                       <i class="text-center width25 text-secondary fa fa-trash"></i>
                       <span>Permanent Delete User</span>
                    </a>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <alert ng-if="!users.length" class="container no-list" type="info">{{messageAlert.noUsers}}</alert>
    <div  ng-if="users.length && pageCount>1" class="container text-center">
      <ul class="pagination" >
          <li><span ng-hide='pagination.page == 1' ng-click="pageTurn(-1)"><i class="fa fa-arrow-left"></i> Previous</span></li>
          <li ng-repeat="page in pages" ng-class="{active: pagination.page == page}" ng-init="pageTo(1)"><span ng-click="pageTo(page)">{{page}}</span></li>
          <li><span ng-hide='pagination.page == pageCount' ng-click="pageTurn(1)">Next <i class="fa fa-arrow-right"></i></span></li>
      </ul>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane " id="patients" ng-controller="SettingsPatientController">
    <div class="header" ng-if="users.length">
      <div class="container">
          <div class="xs-visible-block col-sm-2  clearfix"><h3>Patients</h3></div>
          <div class="xs-visible-block col-sm-10  clearfix patient-filter">
                <div class="col-md-2 col-sm-2 col-lg-3 col-xs-2 xs-visible-block clearfix xs-mar-top-10 pad-0">
                    <span class="hidden-xs hidden-sm small-text">Patients for</span>
                    <aura-dropdown class='xs-fl pointer' selected="showUser.id" items="users" key="id" item="name"></aura-dropdown>
                </div>
                <div class="col-xs-2 col-sm-2 col-lg-2">
                  <aura-dropdown class='xs-fr pointer' selected="deletedPatient.id" items="deletedPatients" key="id" item="name"></aura-dropdown>
                </div>
                <div class="col-md-4 col-sm-5 col-lg-4 col-xs-12 xs-visible-block clearfix xs-mar-top-10 pad-0">
                    <div class="xs-fl col-lg-6 col-sm-5 col-xs-5 pad-0">
                       <span>
                           <span class="hidden-xs hidden-sm small-text">Records</span>
                           <aura-dropdown selected="pagination.pageSize" items="pagination.pageSizes" class="pointer"></aura-dropdown>
                           <span class="visible-xs-inline small-text">Records</span>
                       </span>
                   </div>
                   <div class="col-lg-6 col-sm-6 col-xs-4 xs-fr pad-0">
                       <input class='mar-left-10 form-control' type='text' placeholder="Search" ng-model='pagination.searchBox' />
                   </div>
               </div>
                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12 xs-visible-block clearfix xs-mar-top-10 pad-0">
                  <button data-toggle="dropdown" class="dropdown-toggle btn btn-secondary btn-sm btn-options">
                      Add Patient
                  </button>
                  <ul class="dropdown-menu font-15" role="menu">
                      <li ng-click="addPatient()">
                           <a class="pointer">
                              <span> Add a Patient </span>
                           </a>
                      </li>
                      <li ng-click="uploadFile()">
                           <a class="pointer">
                              <span> Upload Patients </span>
                           </a>
                      </li>
                  </ul>
               </div>
               <div class="col-md-2 col-sm-2 col-lg-1 col-xs-12 xs-visible-block clearfix xs-mar-top-10 pad-0">
                 <button class="btn btn-primary btn-sm" ng-click="refreshPatientList()"><strong>REFRESH LIST</strong></button>
               </div>
          </div>
      </div>
    </div>
    <!-- Patients -->
    <div class="synsormed-list-table">
      <div class="list-head-row" ng-if="patients.length && users.length">
        <div class="container">
          <div class="col-sm-3 col-xs-4"><strong>Name</strong></div>
          <div class="col-sm-3 hidden-xs"><strong>Email</strong></div>
          <div class="col-sm-2 hidden-xs"><strong>Phone</strong></div>
          <div class="col-sm-2 col-xs-4 text-center"><strong>Address</strong></div>
          <div class="col-sm-2 col-xs-4 text-center"><strong>Actions</strong></div>
        </div>
        <alert ng-if="!pagination.finalPatients.length" class="container no-list" type="warning">{{messageAlert.noSearchResults}}</alert>
      </div>
      <div class="list-head-row hover-grid" ng-repeat="patient in pagination.finalPatients">
        <div class="container">
          <div class="col-sm-3 col-xs-4">{{patient.name | defaultText:'N/A'}}</div>
          <div class="col-sm-3 hidden-xs">{{patient.email | defaultText:'N/A'}}</div>
          <div class="col-sm-2 hidden-xs">{{patient.mobileNumber | defaultText:'N/A'}}</div>
          <div class="col-sm-2 col-xs-4 text-center">{{patient.address | defaultText:'N/A'}}</div>
          <div class="col-sm-2 col-xs-4 text-center" ng-if="!patient.deletedAt">
            <button class="btn btn-secondary" ng-click="editPatient(patient)"><i class="fa fa-edit"></i></button>
            <button class="btn btn-secondary" ng-click="deletePatient(patient)"><i class="fa fa-trash"></i></button>
          </div>
          <div class="col-sm-2 col-xs-4 text-center" ng-if="patient.deletedAt">
            <button data-toggle="dropdown" class="dropdown-toggle btn btn-secondary btn-sm btn-options">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu font-15" role="menu">
                <li ng-click="resetPatient(patient.id)">
                    <a class="pointer">
                       <i class="text-center width25 text-secondary fa fa-cloud-upload"></i>
                       <span> Reset Patient </span>
                    </a>
                </li>
                <li ng-click="permanentDeletePatient(patient.id)">
                    <a class="pointer">
                       <i class="text-center width25 text-secondary fa fa-trash"></i>
                       <span>Permanent Delete Patient</span>
                    </a>
                </li>
            </ul>
          </div>
        </div>
      </div>
      <alert ng-if="!patients.length && users.length" class="container no-list" type="info">{{messageAlert.noPatients}}</alert>
      <alert ng-if="!users.length" class="container no-list" type="danger">{{messageAlert.noUsers}}</alert>
    </div>
    <!-- Patients End Here -->

    <!--Pagination-->
    <div  class="container text-center">
      <ul class="pagination" ng-if="pageCount && pageCount != 1">
          <li><span ng-click="pageTurn(-1)"><i class="fa fa-arrow-left"></i> Previous</span></li>
          <li ng-repeat="page in pages" ng-class="{active: pagination.page == page}" ng-init="pageTo(1)"><span ng-click="pageTo(page)">{{page}}</span></li>
          <li><span ng-click="pageTurn(1)">Next <i class="fa fa-arrow-right"></i></span></li>
      </ul>
    </div>
    <div ng-if="pagination.finalPatients.length" class="container"><small>Viewing page {{pagination.page}} of {{pageCount}}</small></div>
    <!--Pagination-->
  </div>

</div>
</div>
