#insights {
   .header{
    background-color:#f7f6f6;
  }
   .form-group {
    margin: 20px 0px;
  }
  .highcharts-container {
    text-align : center !important;
    width : 100% !important;
  }
  div.alert.no-list {
    margin-bottom : 0px;
  }
}
