<div id="showCode">
     <div class="header">
         <div class="container">
           <div class="col-md-8 col-xs-6"><h3>Patient Code</h3></div>
           <div class="col-md-4 col-xs-6">
             <div class="form-group text-right">
               <button class="btn btn-primary btn-sm" ng-click="sendEmail()"><strong>EMAIL</strong></button>
               <button class="btn btn-primary btn-sm" ng-click="printInfo()"><strong>PRINT THIS INFORMATION</strong></button>
             </div>
           </div>
         </div>
    </div>
    <div class="container">
        <div class="col-md-10 col-md-offset-1 code-wrap">
            <div class="text-center"><strong>Your Code Is Below</strong></div>
            <div class="text-center"><h1><strong>{{encounter.patientCode}}</strong></h1></div>
            <div>
                <div class="col-md-6">
                    <ol>
                        <li><strong>Download The App</strong>
                            <ul>
                                <li>Go to the app store on your smart phone or tablet</li>
                                <li>Apple users will use the Apple App Store</li>
                                <li>Android users will use Google Play</li>
                                <li>Search for: <b>SynsorMed</b></li>
                                <li>Download and install the free app</li>
                            </ul>
                        </li>
                        <li><strong>Login</strong>
                            <ul>
                                <li>Use the access code above to log into the app</li>
                            </ul>
                        </li>
                        <li><strong>Waiting Room</strong>
                            <ul>
                                <li><u>Important:</u> Keep the app open</li>
                                <li>You will see a prompt when the provider is ready to begin</li>
                            </ul>
                        </li>
                        <li><strong>Video Session</strong>
                            <ul>
                                <li>Proceed with the secure session with your provider</li>
                            </ul>
                        </li>
                        <li><strong>Survey</strong>
                            <ul>
                                <li>Complete the quick survey after your session</li>
                            </ul>
                        </li>
                    </ol>
                </div>
                <div class="col-md-6">
                    <div class="reason-wrap">
                        <strong>Reason For eVisit</strong>
                        <ul>
                            <li><p>{{encounter.reasonForVisit}}</p></li>
                        </ul>
                        <strong>eVisit Date</strong>
                        <ul>
                            <li>{{encounter.scheduledStartTime|date:'short'}}</li>
                        </ul>
                    </div>
                    <div class="well">
                        <strong class="warning">WARNING</strong>
                        <ul>
                            <li>In an emergency, DO NOT use the app! Call 911 or go to your nearest Emergency Room!</li>
                            <li>Your access code will expire the day after your eVisit</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
