<html>
<head>
    <title>test</title>
</head>
<style>
   .wrapper{
       font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
   }
   .summary-title{
       text-align:center;
       font-size: 24px;
       margin-top: 20px;
       margin-bottom: 10px;
       font-family: inherit;
       font-weight: 500;
       line-height: 1.1;
       color: inherit;
   }
   .outer-brdr{
       border:1px solid #ddd;margin:10px
   }

   .tbl-hdr{
       color:#eee;
       border-top-color:#00ABA2;
       border-top-left-radius: 4px;
       border-top-right-radius: 4px;
       background:#00ABA2;
       padding:10px;
       border-bottom:1px solid #ddd;
       margin: 10px 10px 0px 10px;
   }

   .content{
        margin: -1px 10px 10px 10px;
   }

   table{
       width: 100%;
       border-collapse: collapse;
   }
   table,  th,  td {
       border: 1px solid #ddd;
       padding: 10px;
       text-align: center;
   }
</style>
<body>
    <div class="wrapper">
        <div style="border: 1px solid #ddd;">
            <h3 class="summary-title">Patient summary</h3>
            <div class="tbl-hdr"><b>General</b></div>
            <div class="outer-brdr" style="margin:-1px 10px 10px 10px">
                <div style="border-bottom:1px solid #ddd;padding:10px;border-right:1px solid #ddd;float:left;width:46%;">Patient code</div>
                <div style="border-bottom:1px solid #ddd;padding:10px;float:left;width:46%;">
                    <span style="font-weight: bold;display: inline-block;min-width: 10px;padding: 2px 7px;font-size: 12px;color: #fff;vertical-align: middle;background-color: #777;border-radius: 10px;">
                        <%= data.code %>
                    </span>
                </div>
                <div style="clear:both"></div>

                <div style="border-bottom:1px solid #ddd; padding:10px;border-right:1px solid #ddd;float:left;width:46%;">Patient Name</div>
                <div style="border-bottom:1px solid #ddd; padding:10px;float:left;width:45.9%;">
                    <span style="font-weight: bold;display: inline-block;min-width: 10px;padding: 2px 7px;font-size: 12px;color: #fff;vertical-align: middle;background-color: #777;border-radius: 10px;">
                        <%= data.patientName || 'N/A'%>
                    </span>
                </div>
                <div style="clear:both"></div>

                <div style="border-bottom:1px solid #ddd;padding:10px;border-right:1px solid #ddd;float:left;width:46%;">DOB</div>
                <div style="border-bottom:1px solid #ddd;padding:10px;float:left;width:46%;">
                    <span style="font-weight: bold;display: inline-block;min-width: 10px;padding: 2px 7px;font-size: 12px;color: #fff;vertical-align: middle;background-color: #777;border-radius: 10px;">
                        <%= data.dob %>
                    </span>
                </div>
                <div style="clear:both"></div>

                <div style="border-bottom:1px solid #ddd;padding:10px;border-right:1px solid #ddd;float:left;width:46%;">Organization name</div>
                <div style="border-bottom:1px solid #ddd;padding:10px;float:left;width:46%;">
                    <span style="font-weight: bold;display: inline-block;min-width: 10px;padding: 2px 7px;font-size: 12px;color: #fff;vertical-align: middle;background-color: #777;border-radius: 10px;">
                        <%= data.organizationName %>
                    </span>
                </div>
                <div style="clear:both"></div>

                <div style="border-bottom:1px solid #ddd;padding:10px;border-right:1px solid #ddd;float:left;width:46%;">Provider name</div>
                <div style="border-bottom:1px solid #ddd;padding:10px;float:left;width:46%;">
                    <span style="font-weight: bold;display: inline-block;min-width: 10px;padding: 2px 7px;font-size: 12px;color: #fff;vertical-align: middle;background-color: #777;border-radius: 10px;">
                        <%= data.providerName || 'N/A' %>
                    </span>
                </div>
                <div style="clear:both"></div>

                <div style="padding:10px;border-right:1px solid #ddd;float:left;width:46%;">Phone number</div>
                <div style="padding:10px;float:left;width:46%;">
                    <span style="font-weight: bold;display: inline-block;min-width: 10px;padding: 2px 7px;font-size: 12px;color: #fff;vertical-align: middle;background-color: #777;border-radius: 10px;">
                        <%= data.patientContact || 'N/A' %>
                    </span>
                </div>
                <div style="clear:both"></div>
            </div>

            <% for(var i=0; i < data.indicators.length; i++){%>
                <div class="tbl-hdr"><b>Indicator: <%= data.indicators[i].name %> |
                <%= data.indicators[i].serviceName || 'Not connected' %></b></div>
                <div class="content">
                    <table class="table">
                        <tr>
                            <% if(data.indicators[i].results && data.indicators[i].results.categories) { %>
                                <% for(var j=0; j < data.indicators[i].results.categories.length; j++){%>
                                    <th>
                                        <%= data.indicators[i].results.categories[j] %>
                                    </th>
                                <% } %>
                            <% } %>
                        </tr>
                        <tr>
                            <% if(data.indicators[i].results && data.indicators[i].results.displayData) { %>
                                <% for(var k=0; k < data.indicators[i].results.displayData.length; k++){%>
                                    <td><%= data.indicators[i].results.displayData[k] || 'N/A' %></td>
                                <% } %>
                            <% } %>
                        </tr>
                    </table>
                </div>
            <% } %>

            <div class="tbl-hdr"><b>Notes</b></div>
            <div style="border:1px solid #ddd;margin:-1px 10px 10px 10px;">
                <% if(data.notes && data.notes.length){ %>
                    <% for(var i=0; i < data.notes.length; i++) { %>
                        <div style="padding:10px;border-bottom:1px solid #ddd;">
                            <%= data.notes[i].text %>
                        </div>
                    <% } %>
                <% } else {%>
                    <div style="padding:10px;">
                        <div style="padding: 15px;background-color: #fcf8e3;border-radius: 4px;color: #8a6d3b;border: 1px solid #faebcc;">None</div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>
